<div class="left-container">
  <% if @notifications.empty? %>
    There is no notifications for you.
  <% else %>
    <div class="heading">
      <%= image_tag "new_images/notify_icon_1.png" %>
      <%= notifications_count %>
    </div>
    <div class="notifications-list">
      <% @notifications.each do |notification| %>
        <% if notification.event_type %>
          <div class="list-item">
            <%= notification_info(notification) %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="right-container">
  <div class="heading">
    Food Lovers you may know:
  </div>
  <div class="related-food-lovers-container">
    <div class="related-food-lovers-list">
      <%= image_tag "profile-picture-related.png", :class => "profile-image" %>
      <a href="#" class="userlink">User A</a>
      <a href="#">
        <%= image_tag "new_images/add_user_icon.png" %>
      </a>
    </div>
    <div class="related-food-lovers-list">
      <%= image_tag "profile-picture-related.png", :class => "profile-image" %>
      <a href="#" class="userlink">User B</a>
      <a href="#">
        <%= image_tag "new_images/add_user_icon.png" %>
      </a>
    </div>
    <div class="related-food-lovers-list">
      <%= image_tag "profile-picture-related.png", :class => "profile-image" %>
      <a href="#" class="userlink">User C</a>
      <a href="#">
        <%= image_tag "new_images/add_user_icon.png" %>
      </a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<%= paginate @notifications %>
