<div class="tabbable">
  <ul class="nav nav-tabs">

		<li class="tab-content">
			<p class="icon_emails"><%= link_to_unless_current('Email', provider_invite_path(:email)) %></p>

		</li>
    <li class="tab-content">
			<%= link_to_unless_current('Facebook', provider_invite_path(:facebook)) %>

		</li>
    <li class="tab-content">
			<%= link_to_unless_current('Gmail', provider_invite_path(:gmail)) %>

		</li>
    <li class="tab-content">
			<%= link_to_unless_current('Yahoo', provider_invite_path(:yahoo)) %>

		</li>
    <li class="tab-content">
			<%= link_to_unless_current('Hotmail', provider_invite_path(:hotmail)) %>
		</li>
  </ul>
</div>

