<div class="email_invi clearfix">
	<%= content_for :javascript do %>
	<%= javascript_include_tag 'invitation' %>
	<% end %>

	<div class="stream_invitation clearfix">
		<%= render :partial => 'icn_invite'%>
		<%= render :partial => 'side_panel' %>

		Invite Your Friends To ImFoodLover

		<%= form_for :invites, :url => contacts_invite_path do |f| %>
		<p>
			<%= f.label "Email address 1" %>
			<%= text_field_tag "invites[email][]" %>
		</p>
		<p>
			<%= f.label "Email address 2" %>
			<%= text_field_tag "invites[email][]" %>
		</p>
		<p>
			<%= f.label "Email address 3" %>
			<%= text_field_tag "invites[email][]" %>
		</p>
		<p>
			<%= f.label "Email address 4" %>
			<%= text_field_tag "invites[email][]" %>
		</p>
		<p>
			<%= f.label "Add a personal note (optional)" %>
			<%= text_area_tag "invites[note]" %>
		</p>

		<%= f.submit "Send Invites",:class => "email_button" %>
		<% end %>
	</div>

</div>
