<%= form_for :invites, :url => contacts_invite_path, :html => {:remote => true, :id => "email_invite_form"} do |f| %>
  <p>
    <%= f.label "Email" %>
    <%= text_field_tag "invites[email][]", @email, :readonly => true %>
  </p>
  <p>
    <%= f.label "Add a personal note (optional)" %>
    <%= text_area_tag "invites[note]" %>
  </p>
  <%= f.submit "Send Invites" %>
<% end %>

<script type="text/javascript">
  //<!CDATA[
  $(document).ready(function() {
    $('#email_invite_form').submit(function(){
       var submitButton = $('#email_invite_form').find("input[type='submit']");
       $(submitButton).attr("value", "Please Wait...");
       $(submitButton).attr("disabled", "true");
    })
  })
  //]]>
</script>
