<div class="email_invi clearfix">
	<%= content_for :javascript do %>
	<%= javascript_include_tag 'invitation' %>
	<% end %>

	<div class="stream_invitation clearfix">
		<%= render :partial => 'icn_invite'%>
		<%= render :partial => 'side_panel' %>

		<div>
			Invite Your Friends To ImFoodLover
		</div>

		<div class="hidden fb-connect">
			<%= link_to 'Connect', user_omniauth_authorize_path(:facebook, :redirect_uri => request.url), :class => 'login' %>
		</div>

		<script type="text/javascript">
			window.invitation_link = "<%= v2_user_invitation_url(:slug => current_user.slug) %>
			";
		</script>

		<%= content_for :javascript do %>
		<%= javascript_include_tag 'facebook_invitation', 'invitation' %>
		<% end %>

		<div class='loading'>
			Loading ...
		</div>

		<%= render :partial => "list" %>
