<div class="email_invi clearfix">
	<%= content_for :javascript do %>
	<%= javascript_include_tag 'invitation' %>
	<% end %>

	<div class="stream_invitation clearfix">
		<%= render :partial => 'icn_invite'%>
		<%= render :partial => 'side_panel' %>

		<div>
			Invite Your Friends To ImFoodLover
		</div>

		<% if current_user.gmail_authenticated %>
		<%= link_to 'Disconnect', contacts_disconnect_path(:gmail), :class => 'login' %>

		<%= content_for :javascript do %>
		<%= javascript_include_tag 'gmail_invitation', 'invitation' %>
		<% end %>
		<div class='loading'>
			loading
		</div>
		<% else %>
		<%= link_to 'Connect', '/contacts/gmail', :class => 'login' %>
		<% end %>

		<%= render :partial => "list" %>
     </div>
    </div>