<div class="email_invi clearfix">
	<%= content_for :javascript do %>
	<%= javascript_include_tag 'invitation' %>
	<% end %>

	<div class="stream_invitation clearfix">
		<%= render :partial => 'icn_invite'%>
		<%= render :partial => 'side_panel' %>

		<div>
			Invite Your Friends To ImFoodLover
		</div>

		<% if current_user.hotmail_authenticated %>
		<%= link_to 'Disconnect', contacts_disconnect_path(:hotmail), :class => 'login' %>

		<%= content_for :javascript do %>
		<%= javascript_include_tag 'hotmail_invitation', 'invitation' %>
		<% end %>
		<div class='loading'>
			Loading ...
		</div>
		<% else %>
		<%= link_to 'Connect', '/contacts/hotmail', :class => 'login' %>
		<% end %>

		<%= render :partial => "list" %>
	</div>
</div>