<div class="email_invi clearfix">
  <%= content_for :javascript do %>
      <%= javascript_include_tag 'invitation' %>
  <% end %>

  <div class="stream_invitation clearfix">
    <%= render :partial => 'icn_invite'%>
    <%= render :partial => 'side_panel' %>

<% if current_user.yahoo_authenticated %>
  <%= link_to 'Disconnect', contacts_disconnect_path(:yahoo), :class => 'login' %>
  
  <%= content_for :javascript do %>
    <%= javascript_include_tag 'yahoo_invitation', 'invitation' %>
  <% end %>
  <div class='loading'>
    Loading ...
  </div>
<% else %>
  <%= link_to 'Connect', '/contacts/yahoo', :class => 'login' %>
<% end %>

<%= render :partial => "list" %>