<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @user.username %>,
    </p>
    <p>      
      <%= link_to @commentor.slug, v2_url(@commentor.slug) %> commented on your post <%= link_to truncate(strip_tags(@post.message), :length => 120), v2_post_url(@post.id) %>.
    </p>
    <p>
      -the ImFoodLover Team
    </p>
    <p>
      Great food and good times; more merrier with friends & family. Invite them to ImFoodLover.
    </p>
    <p>
      This message was sent to <<%= @user.email %>>. You can always change your email preferences.
      If you do not want to receive these emails from ImFoodLover in the future, please unsubscribe.
    </p>
  </body>
</html>
