<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi <%= @recipient.username %>,
    </p>
    <p>
      <%= h(@note) %>
    </p>
  </body>
</html>
