<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi,
    </p>
    <p>
      <%= @user.username %> has invited you to join ImFoodLover.com. <br/>
      <% unless @note.blank? %>
        <%= h(@note) %>
      <% end %>
    </p>
    <p>
      Please click <%= link_to 'here', v2_user_invitation_url(:host => Settings.app_host, :slug => @user.slug) %> to join.
    </p>
  </body>
</html>
