<p>
  <%= f.label :icon_image %>
  <%= f.file_field :icon_image %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :min_count %>
  <%= f.text_field :min_count %>
</p>