<%= form_for @badge, :url => admin_badge_path(@badge), :html => {:multipart => true} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>