<%= link_to "New", new_admin_badge_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Minimum requirement</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @badges.each do |b| %>
      <tr>
        <td><%= b.name %></td>
        <td><%= image_tag b.icon_image.thumb('50x50#').url %></td>
        <td><%= b.min_count %></td>
        <td>
          <%= link_to "Edit", edit_admin_badge_path(b) %>
          <%= link_to "Delete", admin_badge_path(b), :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @badges %>