<div class="message cf">
	<div class="sender left">
		<a href="/<%= conversation.username %>"><img width="40" height="40" class="profile-pic" src="<%= conversation.image_68 %>"></a>
	</div>
	<div class="message-box box">
		<div class="message-content">
			<span class="<%= conversation.read_status == false ? "new" : "" %>"></span>
			<h3><a class="redirect-conversations" href="/inbox/#conversations/<%= conversation.slug %>"><%= conversation.subject %></a></h3>
			<p>
				<%= conversation.last_message_simple %>
			</p>
		</div>
		<div class="msg-detail box-yellow">
			<p>
				from <a href="/<%= conversation.username %>"><%= conversation.username %></a> . <%= conversation.updated_time %>
			</p>
		</div>
	</div>
</div>