<div id="content_bar">
	<div class="left" id="main-expand">

		<!-- Message Title -->
		<h1 class="page-title title-message">Messages <!-- <span id="new-msg-count">(2 new)</span> --></h1>

		<!-- Send and Search Message -->
		<div class="send-search-msg cf">
			<a class="btn-skin left" href="#new_message_canvas" data-toggle="modal">Send a new message</a>
			<form class="search-msg left" id="search-msg" data-remote="true">
				<fieldset>
					<input type="text" class="left" placeholder="Search Message" name="keywords" value="">
					<input type="submit" class="search-btn" value="" id="searchsubmit">
				</fieldset>
			</form>
		</div>
		
		<div id="conversations">
			<%= render @conversations %>
		</div>
		
		<div id="new-msg"></div>
		<div id="paginator">
			<%= paginate @conversations, :theme => 'message-theme', :outer_window => 2, :remote => true  %>
		</div>		

	</div>

	<div id="new_message_canvas" class="reveal-modal modal hide fade">
		<div class="popup-content">
			<a id="close-new-message" class="btn-close right" href="#" data-dismiss="modal"></a>
			<h2>Send a new message</h2>
		</div>
		<div id="send-msg-form">

			<form id="send-msg">

				<div class="popup-content">
					<!-- To -->
					<fieldset>
						<label for="name">To: </label>
						<input type="text" id="recipient-message" placeholder="Recipient name" name="name">		
						<!-- if disabled -->
					</fieldset>

					<!-- Subject -->
					<fieldset>
						<label for="subject">Subject: </label>
						<input type="text" id="subject-message" placeholder="Enter your subject" name="subject">
					</fieldset>

					<!-- Message -->
					<fieldset>
						<label for="send-message">Message: </label>
						<textarea id="body-message" placeholder="Enter your message" name="message" cols="10" rows="5"></textarea>
					</fieldset>
				</div>

				<!-- before sending message -->
				<div class="popup-content no-separator popup-send-message">
					<a class="send_button btn-skin-msg" href="#">Send Message</a>
					<div class='loading'></div>
				</div>

				<!-- if failure -->
				<div class="popup-content popup-alert-error hide" id="send-msg-failed">
					<p class="alert-error">
						Sorry, we are having trouble sending your message.
					</p>
				</div>
		</div>

		<div id="send-msg-success" class="hide">
			<!-- if success -->
			<div class="popup-content popup-alert-success">
				<p class="alert-success">
					Message was sent successfully.
				</p>
			</div>

			<div class="popup-content no-separator hide">
				<a class="btn-skin-msg btn-skin-msg-green" href="#" data-dismiss="modal">Close</a>
			</div>
		</div>

		</form>
	</div>
</div>