$('#conversations').html('<%= escape_javascript render(@conversations) %>');
$('#paginator').html('<%= escape_javascript(paginate(@conversations, :theme => 'message-theme', :outer_window => 2, :remote => true).to_s) %>');
$('#new-msg').html();
