.inner_wrapper
  %span ImFoodLover © 2011
  %span.right
    = link_to "About", root_path
    &#183;
    = link_to "Terms", root_path
    &#183;
    = link_to "Privacy Policy", root_path
    &#183;
    = link_to "Help", root_path