ul.nav
  li
    div.user
      .picture = image_tag "sample-user.png"
      .username = link_to current_user.username, account_path
    ul
      li.action.invite = link_to "Invite Friends", provider_invite_path(:facebook)
      li.action.edit-account = link_to "Settings", edit_account_path
      li.action.destroy-user-session = link_to "logout", destroy_user_session_path
  li.action.new-post = link_to "New Post", new_post_path
  li.action.notifications = link_to "1230"
  li.action.messages= link_to "59"
