<div class="left-container">
  <% if @activities.empty? %>
    There is no recent activities.
  <% else %>
    <div class="heading">
      <%= image_tag "activities.png" %>
      Activities
    </div>
    <div class="notifications-list">
      <% @activities.each do |activity| %>
        <% if activity.event_type %>
          <div class="list-item">
            <%= activity_info(activity) %>
            <div class="clearfix"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="right-container">
  <div class="heading">
    Food Lovers you may know:
  </div>
  <div class="related-food-lovers-container">
    <div class="related-food-lovers-list">
      <%= image_tag "profile-picture-related.png", :class => "profile-image" %>
      <a href="#" class="userlink">User A</a>
      <a href="#">
        <%= image_tag "new_images/add_user_icon.png" %>
      </a>
    </div>
    <div class="related-food-lovers-list">
      <%= image_tag "profile-picture-related.png", :class => "profile-image" %>
      <a href="#" class="userlink">User B</a>
      <a href="#">
        <%= image_tag "new_images/add_user_icon.png" %>
      </a>
    </div>
    <div class="related-food-lovers-list">
      <%= image_tag "profile-picture-related.png", :class => "profile-image" %>
      <a href="#" class="userlink">User C</a>
      <a href="#">
        <%= image_tag "new_images/add_user_icon.png" %>
      </a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<%= paginate @activities %>
