%div.stream_wrap
  %div.stream_item.clearfix{:id => "<%= id %>"}
    .users_pane
      .profile_pic
        %img{:src => "<%= profile_image %>"}
      .profile_with
        %small with
        %a{:href => '#'}
          %img{:src => "http://placehold.it/50x50"}
        %a{:href => '#'}
          %img{:src => "http://placehold.it/50x50"}
        %a{:href => '#'}
          %img{:src => "http://placehold.it/50x50"}
        .profile_with-more
          %a.popover-trigger{:href => "#"} +2
          %ul.popover-content.unstyled
            %li
              %a{:href => '#'} Username A
            %li
              %a{:href => '#'} Username B
    .content_pane
      <% if (user_id == window.current_user_id) { %>
      .post-action
        %a{:class => 'post_edit icon-pencil', :id => "<%= id %>", :title => "Edit"}
        %a.post_remove.icon-remove{:title => "Remove"}
      <% } %>
      %a{:href => "#users/<%= creator_slug %>"} <%= username %>
      <%= window.escapeTag(message) %> - at <a class="stream_location" href="#">Jalan Alor, Kuala Lumpur</a>
      .content_tags.clearfix
        %ul.unstyled.clearfix
          %li
            %a{:href => '#'} Hamburger
          %li
            %a{:href => '#'} Hamburger
      .photo_frame
        %a{:href => "#post/<%= id %>"}
          %img{:src => "<%= post_image %>", :class => "album-pic"}
        .album_name
          %a{:href => "#post/<%= id %>"} Album name
        .album_clip
    .clear
    .content_bottom.clearfix
      %ul.unstyled.pull-left.post-meta
        %li
          <% if (like == true) { %>
          %a.icons-posts.icons-liked.post_like
            <%= like_count %>
          <% } else { %>
          %a.icons-posts.icons-unlike.post_like
            <%= like_count %>
          <% } %>
        %li
          %a.icons-posts.icon-comments
            <%= comment_count %>
        %li
          %a.post_reshare.icons-posts.icon-reshare 198
        %li
          <% if (user_id != window.current_user_id) { %>
          %a.post_repin.icons-posts.icon-reshared 198
          <% } %>
        %li
          <% if (_.include(promoter_ids, window.current_user_id)) { %>
          %a.disable_post_promotion.icons-posts.icon-promoted 12
          <% } else { %>
          %a.post_promotion.icons-posts.icon-promote 289
          <% } %>
          
      %ul.unstyled.post-meta.pull-right
        %li
          <% if (_.include(flagger_ids, window.current_user_id)) { %>
          %a.disable_post_flag.icons-posts.icon-flagged
          <% } else { %>
          %a.post_flag.icons-posts.icon-flag
          <% } %>
        %li
          %a.icons-posts.icon-time
            %span.time_count Posted <%= created_at_time %>

  %div.stream_comments
    %ul.comments.unstyled
      <% _.each(comments, function(i) { %> <li class="comment_entry clearfix"><span class="commentor top"><a href="/"><img src="<%= i.image_32 %>" /></a></span><span class="comment_message top"><div class="comment"><a href="/" class="commentor_name"><%= i.author %></a><span class="message"><%= i.message %></span></div><div class="footer"><%= i.created_at_time %> &bull; <a href="#like" class="comment-like">3</a> &bull; <a href="#usermeail">@</a></div></span></li><% }); %>
      %li.comment_more
        %a{:href => '#'} View all 4 comments
    .comment_field
      %img{:src => "<%= profile_image %>"}
      %textarea.comment_input{:placeholder => 'Enter comment and press enter'}
  
  %div.stream_comments