<div class="inner_wrapper">
	<%= link_to image_tag('new_images/logo.png'), v2_root_path, :class => "nav_link" %>
    <!-- Span is inline element, can't be used like this -->
	<span class="adjust_wrapper top">
	  <div class="toggleMenu inline">
	    <%= image_tag("sample-user.png", :class => "thumbnail_link") %>
	    <%= link_to current_user.username, "#users/#{current_user.username}", :class => "default_link" %>
	    <%= image_tag('new_images/arrow_down.png', :class => "arrow_down right") %>
	    <ul>
	      <li class="dropdown"><%= image_tag("new_images/invite_icon.png") %><%= link_to "Invite Friends", provider_invite_path(:facebook) %></li>
	      <li class="dropdown"><%= image_tag("new_images/setting_icon.png") %><%= link_to "Settings", "#" %></li>
	      <li class="dropdown logout_line"><%= image_tag("new_images/logout_icon.png") %><%= link_to "logout", destroy_user_session_path %></li>
	    </ul>
	  </div>
	  <div class="add_post inline">
	    <%= link_to image_tag("new_images/add_icon.png"), new_v2_post_path, :class => "add_post" %>
	  </div>
	  <div class="notification_icon inline notificationToggle">
	    <% notification_count = 1 %>
	    <% if notification_count == 0 %>
	      <%= link_to "0", v2_notifications_path, :class => "non_notification" %>
	    <% else %>
        <%= link_to "1", v2_notifications_path, :class => "notification" %>
      <% end %>
      <ul>
        <li>
          <%= image_tag("sample-user.png", :class => "senderImage") %>
          <%= link_to "Unread Message", "#" %>
        </li>
        <li class="see_all">
          <%= link_to "See all notifications", "#" %>
        </li>
      </ul>
	  </div>
	  <div class="message_icon inline">
	    <%= link_to image_tag('new_images/mesage_icon.png'), "#index" %>
	    <div class="messageCount">1</div>
	  </div>
    <%= form_tag(v2_root_path, :class => "searchbox inline") do -%>
      <ul>
        <li><%= text_field_tag :keyword, "", :size => "20", :class => "search_input" %></li>
        <li class="toggleFilter"><%= text_field_tag :filter, "All", :size => "1", :disabled => true, :class => "search_filter" %>
          <ul class="filterSelection">
            <li><%= check_box_tag :all %> All</li>
            <li><%= check_box_tag :food %> Food</li>
            <li><%= check_box_tag :people %> People</li>
          </ul>
        </li>
        <li>
          <%= submit_tag "Search" %>
        </li>
      </ul>
    <% end -%>
	</span>
</div>
