<div class="left_nav">
  <ul>
    <li>
      <ul class="icon_img">
        <li>
          <%= link_to image_tag('new_images/feed_icon.png'), v2_root_path, :class => "current" if current_page?(v2_root_path) %>
        </li>
        <li>
          <label>Home</label>
        </li>
      </ul>
    </li>
    <li>
      <ul class="icon_img">
        <li>
          <%= link_to image_tag('new_images/activities_icon.png'), "#", :class => "current" if current_page?(v2_root_path) %>
        </li>
        <li>
          <label>Activities</label>
        </li>
      </ul>
    </li>
  </ul>
  <div class="top_nav"></div>
  <div class="bottom_nav"></div>
  <ul>
    <li>
      <ul class="bottom_icon_img">
        <li>
          <%= link_to image_tag(current_user.profile_image_24), "#", :class => "photo_border" " current" if current_page?(v2_root_path) %>
        </li>
        <li>
          <label><%= current_user.username %></label>
        </li>
      </ul>
    </li>
    <li>
      <ul class="bottom_icon_img">
        <li>
          <%= link_to image_tag('new_images/album_icon.png'), "#", :class => "current" if current_page?(v2_root_path) %>
        </li>
        <li>
          <label>Albums</label>
        </li>
      </ul>
    </li>
    <li>
      <ul class="bottom_icon_img">
        <li>
          <%= link_to image_tag('new_images/tag_icon.png'), "#", :class => "current" if current_page?(v2_root_path) %>
        </li>
        <li>
          <label>Tag</label>
        </li>
      </ul>
    </li>
    <li>
      <div class="followToggle">
        <%= link_to image_tag('new_images/following_icon.png'), "#" %>
        <label>Following</label>
        <ul>
          <li>
            <%= image_tag('sample-user.png') %>
            <label>User A</label>
          </li>
          <li>
            <%= image_tag('sample-user.png') %>
            <label>User B</label>
          </li>
          <li>
            <%= image_tag('sample-user.png') %>
            <label>User C</label>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="followToggle">
        <%= link_to image_tag('new_images/follower_icon.png'), "#", :class => "current" if current_page?(v2_root_path) %>
        <label>Followers</label>
        <ul>
          <li>
            <%= image_tag('sample-user.png') %>
            <label>User A</label>
          </li>
          <li>
            <%= image_tag('sample-user.png') %>
            <label>User B</label>
          </li>
          <li>
            <%= image_tag('sample-user.png') %>
            <label>User C</label>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
