#topbar.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{"href" => "#"} ImFoodLover

      %ul.nav
        - unless user_signed_in?
          %li.unregistered= link_to "Sign in", new_user_session_path
          %li.unregistered= link_to "Sign up", new_user_registration_path
        - else
          %li.userlink.dropdown
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              %img{"src" => "http://placehold.it/32x32", "alt" => ""}
              = current_user.username.capitalize if current_user
              %span.drop-arrow
            %ul.dropdown-menu
              %li
                %a.icn.icn-invite{"href" => "#"} Invite friends
              %li
                %a.icn.icn-settings{"href" => "#"} Settings
              %li.divider
              %li
                %a.icn.icn-logout{"href" => "#"} Logout
          %li
            %a.topbar-plus{"href" => "#new_post", "data-toggle" => "modal"} New Post
          %li.notifications.dropdown{"href" => "#"}
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              %span.notification-bubble.active
                == 100
                %span.notification-tip
            %ul.dropdown-menu.wide.long-content
              %li
                %a{"href" => "#"}
                  %img.dropdown-avatar{"src" => "http://placehold.it/34x34", "alt" => ""}
                  %span.dropdown-content
                    %span.link Friend’s name
                    == commented on your photo in
                    %span.link album
                    photo album
                  %span.timestamp 10 mins ago
              %li.divider
              %li
                %a{"href" => "#"}
                  %img.dropdown-avatar{"src" => "http://placehold.it/34x34", "alt" => ""}
                  %span.dropdown-content
                    %span.link Friend’s name
                    == commented on your photo in
                    %span.link album
                    photo album
                  %span.timestamp 10 mins ago
              %li.divider
              %li
                %a{"href" => "#"}
                  %img.dropdown-avatar{"src" => "http://placehold.it/34x34", "alt" => ""}
                  %span.dropdown-content
                    %span.link Friend’s name
                    == commented on your photo in
                    %span.link album
                    photo album
                  %span.timestamp 10 mins ago

          %li
            %a.pmessages{"href" => "#"}
              == Messages
              %span.message-count
                == 3
          %li
            %a.following{"href" => "#"} Following
          %li
