<div class="food_lover">
  <h3>Food lovers you may know&#58;</h3>
  <ul>
    <li>
      <div class="profile_img">
        IMG
      </div>
      <div class="user_name">
        User A
      </div>
      <div class="add_icon">
        <%= image_tag('new_images/add_user_icon.png') %>
      </div>
    </li>
    <li>
      <div class="profile_img">
        IMG
      </div>
      <div class="user_name">
        User B
      </div>
      <div class="add_icon">
        <%= image_tag('new_images/add_user_icon.png') %>
      </div>
    </li>
    <li>
      <div class="profile_img">
        IMG
      </div>
      <div class="user_name">
        User C
      </div>
      <div class="add_icon">
        <%= image_tag('new_images/add_user_icon.png') %>
      </div>
    </li>
    <li>
      <%= link_to "View more", "#", :class => "view_more" %>
    </li>
  </ul>
</div>
