body.foods
  padding-top: 100px

  ul
    list-style-type: none

  h1, #posts h2
    font-size: 1.25em
    line-height: 1em
    color: #75635b
    text-shadow: 1px 1px 0px #ffffff
    padding: 0
    margin: 0 0 20px 0
    i
      margin: 4px 10px 0 0

  .btn
    +border-radius(3px)
    color: white
    font-size: 1.1em
    padding: 10px 0 10px 0
    width: 185px
    i
      margin: 3px 5px 0 0

  .btn-subscribe
    +background-image(linear-gradient(#df5941, #d84936))
    border: solid #c92e22 1px
    text-shadow: 1px 1px 0px #c92e22
    &:hover
      background-color: #df5941

  .btn-unsubscribe
    +background-image(linear-gradient(#8db268, #769954))
    border: solid #7b9c5b 1px
    text-shadow: 1px 1px 0px #7b9c5b
    &:hover
      background-color: #8db268

  #food
    width: 845px
    h2
      font-size: 1.55em
      margin: 0 0 10px 0
    section
      +border-radius(4px)
      +single-box-shadow(#d0d0d0, 0, 0, 1px, 1px)
      +pie-clearfix
      background: white
      position: relative
    .cover-image, .cover-image img
      +border-left-radius(4px)
    .cover-image
      float: left
      width: 630px
      position: relative
    .popular-tag
      background: image_url('foodpedia/popular_tag.png') no-repeat 0 0
      width: 62px
      height: 62px
      position: absolute
      margin: -3px 0 0 -3px
      top: 0
      left: 0
    .description
      float: left
      width: 182px
      padding: 14px
      color: #544740
    .btn
      position: absolute
      bottom: 16px
      right: 16px

    aside
      +border-bottom-radius(4px)
      position: relative
      width: 839px
      margin-left: 3px
      background-color: #4d3c35
    ul.statistics
      +clearfix
      font-size: 1.8em
      font-family: 'OpenSansBold', Arial, Helvetica, sans-serif
      text-shadow: 1px 1px 0px #333333
      margin-bottom: 40px
      li
        float: left
        width: 32%
        text-align: center
        line-height: 65px
      i
        margin-right: 10px
      span.count
        font-size: 1.3em
        color: #f4f0e9
      span.note
        margin-left: 10px
        font-size: .7em
        color: #ebcd9b
  #posts
    width: 845px
    .statistics
      background-color: #f4f0e8
      color: #ada28f
      border-top: dotted #d7d4cc 1px
      padding: 0 0 0 10px
      margin: 10px -10px -10px -10px
      li
        display: inline-block
        line-height: 30px
      i
        margin: 4px 3px 0 0
      span
        margin-right: 15px
        font-size: .9em
    ul.list.posts
      position: relative
      width: 845px
      margin: 0
    li.post
      width: 180px
      padding: 10px
      margin: 0 10px 10px 0
      float: left
      background: #fdfcfa

  .external-link
    a
      color: #ada28f
      font-size: .85em
    i
      margin: 3px 4px 0 0

  #footer, .remark
    display: none