:javascript
  var newwindow;

  var login = function(provider_url, width, height) {
    var screenX     = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft,
        screenY     = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop,
        outerWidth  = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth,
        outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22),
        left        = parseInt(screenX + ((outerWidth - width) / 2), 10),
        top         = parseInt(screenY + ((outerHeight - height) / 2.5), 10),
        features    = ('width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
        newwindow = window.open(provider_url, 'Login', features);

    if (window.focus)
      newwindow.focus();

    return false;
  }


#landing-background
#guest-topbar
  .topbar_logo
    == ImFoodLover
#middle-content
  .login_box
    %h1 Are You A Food Lover?
    %p
      %strong Share
      == and
      %strong discover
      == food around.
      %br
      Dining moment is more merrier with friends & family!
    .login_action
      %button.facebook_signup.facebook_signup_login{:href => "#", :onclick => "login(\'#{user_omniauth_authorize_path(:facebook)}\', 600, 300); return false;"}
    .other_login
      = link_to 'Login', new_user_session_path, :class => 'login btn'
      = link_to 'Tsina', '#', :onclick => "login(\'#{user_omniauth_authorize_path(:weibo)}\', 600, 300); return false;", :class => 'btn'
      = link_to 'QQ', '#', :onclick => "login(\'#{user_omniauth_authorize_path(:tqq)}\', 1000, 1000); return false;", :class => 'btn'
    .language_bar
      Choose your language:
      %span
        %a Bahasa Melayu
        %a English (US)
        %a Espa&#241;ol
        %a Portugu&#234;s (Brasil)
        %a Fran&#231;ais (France)
        %a Deutsch
        %a Italiano
    .bottom-dash
#guest-footer
  .footerlinks
    = render :partial => "partial/footer"
  - content_for :javascript do
    = javascript_include_tag 'landing'