%header.clearfix
  = link_to image_tag("logo.png"), root_path, :class => "logo_link"
  .searchbox.inline.right
    %input.search_input{:type => "text", :value => "Find food here..."}
    %input.search_button{:type => "submit", :value => ""}
