:javascript
  window.current_user_id = "#{current_user.try(:id)}";
  window.current_user_picture = "#{current_user.try(:profile_image_68)}";
  window.current_user_slug = "#{current_user.try(:slug)}";

- content_for :javascript do
  = javascript_include_tag 'foodstreet'
.loading
#wrapper.container
  .row.mainbody
    .span9
      #main
        #content_bar
    .span3
      #sidebar
        #promoted
        #featured
    
.container
  .row
    .span12
      %footer

= render partial: 'shared/navbar'
= render partial: 'posts/new'
