<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Post: <%= @flag.post.backbone_show_url %></p>
    <p>Post Message: <%= @flag.post.message %></p>
    <p>Flag Reason: <%= @flag.reason %></p>
    <% unless @flag.description.blank? %>
      <p>Flag Description: <%= @flag.description %></p>
    <% end %>
    <p>Flagged By: <%= @flag.user.slug %></p>
    <p>Flagged At: <%= @flag.created_at %></p>
  </body>
</html>
