<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% @outlets.each do |o| %>
      <p><%= o.username %></p>
    <% end %>
    <p>These are Outlet's name</p>
  </body>
</html>
