<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Post: <%= @promotion.post.backbone_show_url %></p>
    <p>Post Message: <%= @promotion.post.message %></p>
    <p>Flagged By: <%= @promotion.user.slug %></p>
    <p>Flagged At: <%= @promotion.created_at %></p>
  </body>
</html>
