<div>
  <div class="stream_item" id="<%= post.id.to_s %>">
    <div class="post_content inline">
      <div class="picture_pane inline">
        <%= image_tag(post.image_68) %>
      </div>
      <ul class="news_pane inline top">
        <li class="name">
          <%= raw post.message %>
          - at <img alt="Reshare_icon" class="resize_img" src="/assets/new_images/reshare_icon.png"> Jalan Alor, Kuala Lumpur
          <ul class="food_tag">
            <% post.food_tag_list.each do |tag| %>
              <li>
                <img alt="Food_tag_icon" src="/assets/new_images/food_tag_icon.png"> <%= tag %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if post.repinned_post? %>
          <li class="pinned_text_message clearfix">
            <%= post.repin_message %>
          </li>
        <% end %>
        <li class="image_message">adadasdadas
          <img alt="Clip" class="paperclip_img" src="/assets/new_images/clip.png"> 
          <%= link_to(image_tag(post.image_200), v2_post_path(post))%>
          <div class="album_name clearfix">
            <%= post.album_tag_list.try(:first) %>
          </div>
        </li>
      </ul>
    </div>
    <div class="post_action inline">
      <div class="left_post_action">
        <ul>
          <li class="like_count">
            <a class="post_like"><img src="/assets/new_images/unlike_icon.png"></a>
            <div class="action_label">
              <%= post.like_count %>
            </div>
          </li>
          <li>
            <a class="comment_post"><img alt="Comment_icon" src="/assets/new_images/comment_icon.png"></a>
            <div class="action_label">
              <%= post.comment_count %>
            </div>
          </li>
          <li class="post_reshare">
            <a><img alt="Share_icon" src="/assets/new_images/share_icon.png"></a>
            <div class="action_label">
              <%= post.reshare_count %>
            </div>
          </li>
          <li class="repin_count">
            <a class="post_repin"><img alt="Repin_icon" src="/assets/new_images/repin_icon.png"></a>
            <div class="action_label">
              <%= post.repin_count %>
            </div>
          </li>
        </ul>
      </div>
      <div class="right_post_action">
        <ul>
          <li>
            <a class="post_flag"><img src="/assets/new_images/flag_icon.png"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="post_comment inline">
      <ul class="comments">
        <% post.comments.each do |comment| %>
          <li class="comment_entry">
            <span class="commentor top">
              <%= link_to(image_tag(comment.image_32), v2_path(comment.user.slug)) %>
            </span>
            <span class="comment_message top">
              <div class="comment">
                <%= link_to comment.user.slug, v2_path(comment.user.slug), :class => 'commentor_name' %>
                <span class="message"><%= comment.message %></span>
              </div>
              <div class="footer"><%= comment.created_at_time %></div>
            </span>
          </li>
        <% end %>
      </ul>
      <div class="comment_field">
        <img src="/media/BAhbB1sHOgZmSSIdNGY1NmVkMTdjMzFjYjU1MGYwMDAwMTNhBjoGRVRbCDoGcDoKdGh1bWJJIgs2OHg2OCMGOwZG"> <input type="text" class="comment_input input">
      </div>
    </div>
  </div>
</div>