<div class="postMessage">
  <h1><%= current_user.username %>&#33; Share some great food&#33;</h1>
  <div class="addFoodName">&nbsp;</div>
  <div class="addPhoto">
    <%= link_to image_tag('new_images/add_photo_img.png'), "#", :class => "addPhotoBtn" %>
  </div>
  <ul class="postAction">
    <li>
      <div class="actionImg"><%= image_tag('new_images/food_tag_icon_large.png') %></div>
      <ul class="food_tag_small">
        <li><%= image_tag('new_images/food_tag_icon.png') %> Hambuger</li>
        <li><%= image_tag('new_images/food_tag_icon.png') %> Hambuger</li>
      </ul>
    </li>
    <li>&nbsp;</li>
    <li>
      <div class="actionImg"><%= image_tag('new_images/people_tag_icon.png')%></div>
      <div class="actionLabel">With who?</div>
      <ul class="food_tag_small">
        <li><%= image_tag('new_images/people_tag_icon.png') %> Friend&#39;s name</li>
        <li><%= image_tag('new_images/people_tag_icon.png') %> Friend&#39;s name</li>
      </ul>
    </li>
    <li>
      <div class="actionImg"><%= image_tag('new_images/location_icon.png')%></div>
      <div class="actionLabel">At where?</div>
      <ul class="food_tag_small">
        <li><%= image_tag('new_images/location_icon.png') %> Jalan Alor, Kuala Lumpur</li>
      </ul>
    </li>
    <li>
      <div class="actionImg"><%= image_tag('new_images/add_note_icon.png')%></div>
      <div class="actionLabel">Add comments.</div>
      <div class="actionLabel">
        Here is the sample comment.
      </div>
    </li>
    <li class="optionInput borderBottom">
      <div class="actionImg"><%= image_tag('new_images/option_icon.png')%></div>
      <label></label>
      <div class="actionLabel" style="color:#dc533d;">
        Collapse optional input
      </div>
    </li>
    <li>
      <div class="shareIcon">
        Share with friends at
      </div>
      <div class="shareIcon">
        <%= image_tag('new_images/fb_icon.png') %>
      </div>
      <div class="shareIcon">
        <%= image_tag('new_images/twiter_icon.png') %>
      <div>
    </li>
  </ul>
</div>