<table>
  <thead>
    <tr>
      <th>Post</th>
      <th><%= sortable 'reason' %></th>
      <th><%= sortable 'description' %></th>
      <th>Flagged By</th>
      <th><%= sortable 'created_at', 'Flagged At' %></th>
    </tr>
  </thead>
  <tbody>
    <% @flags.each do |f| %>
      <tr>
        <td><%= link_to raw(f.post.message), f.post.backbone_show_url %></td>
        <td><%= f.reason %></td>
        <td><%= f.description %></td>
        <td><%= f.user.username %></td>
        <td><%= f.created_at.try(:strftime, "%H:%M - %e %h %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @flags %>