%li
  %span.thumbnail
    %img{:src => "/assets/<%= profile_image_50 %>"}
  %span.name
    %a{:href => "#users/<%= slug %>"} <%= username %>
  %span.action
    <% if (follow == true) { %>
    %button.unfollow_button.button_white.round_2 Following
    <% } else { %>
    %button.follow_button.button_green.round_2 Follow
    <% } %>
