.profile
  %h1.user Hayhan Sim (jayhan_sim)
  %table.profile-header
    %thead
      %tr
        %th.level Level
        %th Points
        %th Popularity
        %th Latest badges unlocked
    %tbody
      %tr
        %td.level
          3
          .progress-bar
            .bar.p30
        %td
          1,000
        %td
          1,000
        %td
          %span.badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-01.png"}
          %span.badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-01.png"}
          %span.badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-01.png"}

  .profile-banner
    .img
      %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/banner-image.jpg"}
      .user-description
        I'm a food lover! I love to eat Western and Japanese food! Unagi yum yum! Follow Me!
      - if current_user.slug == params[:slug]
        %a.change-profile-cover{:href => "#"} Change cover photo
    .right-side
      .user-avatar-wrapper
        %img.user-avatar{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/user-avatar.png"}
        - if current_user.slug == params[:slug]
          %a.change-profile-avatar{:href => "#"} Change profile photo
      .from
        From KL, Malasysia
      .action
        - if current_user.slug == params[:slug]
          %a.edit{:href => "#"}
            %img{:src => "/assets/user-profile/edit-profile-icon.png"}
            Edit Profile
        -else
          %a.follow{:href => "#"}
            %img{:src => "/assets/user-profile/follow-icon.png"}
            Follow

  %ul.profile-nav
    %li
      %a{:href => "/#{params[:slug]}"} Albums (9)
    %li
      %a{:href => "/#{params[:slug]}/activities"} Activities
    %li.active
      %a{:href => "/#{params[:slug]}/about"} About
    %li
      %a{:href => "/#{params[:slug]}/subscriptions"} Subscribed Tags (3)
    %li
      %a{:href => "/#{params[:slug]}/badges"} Badges (10)
    %li
      %a{:href => "/#{params[:slug]}/followers"} Followers (6)
    %li
      %a{:href => "/#{params[:slug]}/following"} Following (6)

  .profile-content
    .two-sides-panel.about
      .left
        .inner
          %h3 About me
          .description
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum neque eu nunc pellentesque scelerisque. Vivamus vel nulla ut tellus facilisis aliquam. Morbi luctus quam vel arcu venenatis laoreet. Donec condimentum dui id tortor blandit ac accumsan nisl adipiscing. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras a purus a libero auctor tempus et in nulla. In orci diam, rutrum sit amet elementum et, lacinia id nisi. Nulla cursus malesuada neque, id varius lectus pellentesque non. Mauris hendrerit purus quis mi vehicula eget luctus sapien luctus. Ut id dui eget nisi semper lobortis vitae vel neque. Pellentesque lacinia dui sed risus convallis adipiscing. Fusce ornare dui mauris, vel fringilla ipsum. Sed leo sem, scelerisque et ultricies nec, vestibulum condimentum purus.
          - if current_user.slug == params[:slug]
            %a{:href => "#"} Edit profile
          
          
      .right
        .inner
          %h3 Find me at:
          %ul.social-list
            %li
              %a{:href => "#"}
                %img.my-site{:src => "/assets/user-profile/my-site-icon.png"}
                My Website
            %li
              %a{:href => "#"}
                %img.my-site{:src => "/assets/user-profile/my-facebook-icon.png"}
                Hayhan Sim
            %li
              %a{:href => "#"}
                %img.my-site{:src => "/assets/user-profile/my-twitter-icon.png"}
                @jayhan