.profile
  %h1.user Hayhan Sim (jayhan_sim)
  %table.profile-header
    %thead
      %tr
        %th.level Level
        %th Points
        %th Popularity
        %th Latest badges unlocked
    %tbody
      %tr
        %td.level
          3
          .progress-bar
            .bar.p30
        %td
          1,000
        %td
          1,000
        %td
          %span.badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-01.png"}
          %span.badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-01.png"}
          %span.badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-01.png"}

  .profile-banner
    .img
      %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/banner-image.jpg"}
      .user-description
        I'm a food lover! I love to eat Western and Japanese food! Unagi yum yum! Follow Me!
      - if current_user.slug == params[:slug]
        %a.change-profile-cover{:href => "#"} Change cover photo
    .right-side
      .user-avatar-wrapper
        %img.user-avatar{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/user-avatar.png"}
        - if current_user.slug == params[:slug]
          %a.change-profile-avatar{:href => "#"} Change profile photo
      .from
        From KL, Malasysia
      .action
        - if current_user.slug == params[:slug]
          %a.edit{:href => "#"}
            %img{:src => "/assets/user-profile/edit-profile-icon.png"}
            Edit Profile
        -else
          %a.follow{:href => "#"}
            %img{:src => "/assets/user-profile/follow-icon.png"}
            Follow
  %ul.profile-nav
    %li
      %a{:href => "/#{params[:slug]}"} Albums (9)
    %li
      %a{:href => "/#{params[:slug]}/activities"} Activities
    %li
      %a{:href => "/#{params[:slug]}/about"} About
    %li
      %a{:href => "/#{params[:slug]}/subscriptions"} Subscribed Tags (3)
    %li.active
      %a{:href => "/#{params[:slug]}/badges"} Badges (10)
    %li
      %a{:href => "/#{params[:slug]}/followers"} Followers (6)
    %li
      %a{:href => "/#{params[:slug]}/following"} Following (6)

  .profile-content
    .one-side-panel.badges
      .inner
        %h3 You unlocked 10 badges! keep up!
        %ul.profile-bages
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012
          %li.profile-badge
            %img{:src => "/assets/user-profile/THIS_IS_FOR_MOCKUP_ONLY_REMOVE_LATER_THIS_FOLDER/badge-big.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Unlocked on 19.02.2012

        %h3.locked Locked badges
        %ul.profile-bages.locked
          %li.profile-badge
            %img{:src => "/assets/user-profile/badge-locked.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Eat to unlock this!
          %li.profile-badge
            %img{:src => "/assets/user-profile/badge-locked.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Eat to unlock this!
          %li.profile-badge
            %img{:src => "/assets/user-profile/badge-locked.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Eat to unlock this!
          %li.profile-badge
            %img{:src => "/assets/user-profile/badge-locked.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Eat to unlock this!
          %li.profile-badge
            %img{:src => "/assets/user-profile/badge-locked.png"}
            .data
              %h4
                Orienta Cuisine
              .date
                Eat to unlock this!


            