<p>
  <%= @user.slug %>
  Level <%= @user.level %>
</p>

<p>
  <%= pluralize(@user.points_count, 'point') %>
  <%= pluralize(@user.credits_count, 'credit') %>
  <%= pluralize(@user.popularities_count, 'popularity') %>
</p>
<p>
  <% @badges.each do |b| %>
    <%= image_tag b.icon_image.thumb('50x50#').url %>
    <%= b.name %>
  <% end %>
</p>