.points_wrapper
  %span.points
    Posts
    .post_count 726
  %span.points
    Check-Ins
    .checkin_count 2683
  %span.points
    Tokens
    .token_count 4369
  %span.points
    Foodieships
    .friend_count 312

.label_large.profile Recent Activities
.stream_wrapper
