<%= form_for current_user, :as => :user, :url => v2_account_path do |f| %>
  <%= f.error_messages %>
  <li>
    <%= image_tag current_user.profile_image_68 %>
    <%= f.file_field :profile_image, :class => "inline" %>
  </li>
  <li>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </li>
  <li>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.label :about %>
    <%= f.text_area :about %>
  </li>
  <li>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </li>
  <li>
    Authentications
    <ul>
      <% if current_user.twitter_authenticated? %>
        <%= link_to "Revoke Twitter", revoke_twitter_v2_account_path, :class => "remove" %>
      <% else %>
        <%= link_to image_tag("twitter_64.png", :size => "64x64", :alt => "Twitter"), '#', :onclick => "javascript: window.parent.location.href = '#{user_omniauth_authorize_path(:twitter)}'; return false;" %>
      <% end %>
    </ul>
  </li>
  <li>
    Auto Publish
    <ul>
      <%= f.check_box :auto_publish_facebook %>Facebook Wall
    </ul>
    <% if current_user.twitter_authenticated? %>
      <ul>
        <%= f.check_box :auto_publish_twitter %>Twitter Feed
      </ul>
    <% end %>
  </li>
  <li>
    Notification Setting
    <%= f.fields_for :notification_settings do |n| %>
      <% current_user.notification_settings.each_pair do |k, v| %>
        <ul>
          <%= k.to_s.humanize %> <%= n.check_box k, {:checked => (current_user.notification_settings[k] == '1')} %>
        </ul>
      <% end %>
    <% end %>
  </li>
  <li>
    Email Notification Setting
    <%= f.fields_for :email_notification_settings do |n| %>
      <% current_user.email_notification_settings.each_pair do |k, v| %>
        <ul>
          <%= k.to_s.humanize %> <%= n.check_box k, {:checked => (current_user.email_notification_settings[k] == '1')} %>
        </ul>
      <% end %>
    <% end %>
  </li>
  <%= f.submit 'Update' %>
<% end %>