<form class="edit-post" id="edit-post">
  <div class="stream_item relative">
    <div class="picture_pane inline">
      <img src="<%= profile_image %>" />
    </div>
    <ul class="news_pane inline top">
      <li class="name">
        <a href="/"><%= username %></a>
      </li>
      <li class="text_message">
        <input type="text" name="message" class="wide_input" id="edit-post-message" value="<%= window.escapeAlbumPrefix($.htmlClean(message, {removeTags: "a", notRenderedTags: ['em']})) %>" />
      </li>
      <li class="image_message">
        <img src="<%= post_image %>" />
      </li>
      <li class="counter gap_bottom_5">
        <a class="saveEditPost" href="#" title="Save">Update</a>
        &#183;
        <a class="cancelEditPost" href="#" title="Cancel">Cancel</a>
      </li>
    </ul>
  </div>
</form>