<% if (window.current_user_id != '') { %>
/ %iframe.posting_canvas{:name => "new_post", :id => "new_post", :scrolling => 'no', :src => '/posts/new'}
<% } %>


.stream_header
  %h3 Your latest food feed

.stream_wrapper