%div.stream_wrap
  %div.stream_item.clearfix{:id => "<%= id %>"}
    .users_pane
      .profile_pic
        %img{:src => "<%= profile_image %>"}

      <% if (_.size(friend_tags) > 0 ) { %>
      .profile_with
        %small with
        <% _.each(_.first(friend_tags,3), function(tag) { %>
        %a{:href => '<%= tag.slug %>'}
          %img{:src => '<%= tag.profile_image_68%>' }
        <% }); %>
        

        <% if (_.size(friend_tags) > 3 ) { %>
        .profile_with-more
          %a.popover-trigger{:href => "#"} +<%= _.size(friend_tags) - 3 %>
          %ul.popover-content.unstyled
            <% i=0; %>
            <% _.each(_.first(friend_tags,3), function(tag) { %>
            <% if (i>2) {%>
            %li
              %a{:href => '<%= tag.slug %>'} <%= tag.username %>
            <% } %>
            <% i=i+1;%>
            <% }); %>
        <% } %>
      <%}%>
    .content_pane
      <% if (user_id == window.current_user_id) { %>
      .post-action
        %a{:class => 'post_edit icon-pencil', :id => "<%= id %>", :title => "Edit"}
        %a.post_remove.icon-remove{:title => "Remove"}
      <% } %>
      
      %a{:href => "/<%= creator_slug %>"} <%= username %>
      <% if (message !="(Default)") {%>
      <%= window.escapeTag(message) %> 
      <% } %>
      <% if (location) {%>
      \-
      at <%= location %> 
      <% } %>
      .content_tags.clearfix
        %ul.unstyled.clearfix
          <% _.each(food_tags, function(i) { %>
          %li
            %a{:href => '/foods/<%= i %>'} <%= i %>
          <% }); %>
      .photo_frame
        %a{:href => "#post/<%= id %>"}
          .image_wrapper{:style=>"background: url(<%= post_image %>) no-repeat; background-size: contain;" }
        .album_name
          <% if (album_tags != "Default") {%>
          %a{:href => "<%=creator_slug%>/albums/<%= album_tags %>"} <%= album_tags %>
          <% } %>
        .album_clip
    .clear
    .content_bottom.clearfix
      %ul.unstyled.pull-left.post-meta
        %li
          <% if (like == true) { %>
          %a.icons-posts.icons-liked.post_like
            <%= like_count %>
          <% } else { %>
          %a.icons-posts.icons-unlike.post_like
            <%= like_count %>
          <% } %>
        %li
          %a.icons-posts.icon-comments
            <%= comment_count %>
        %li
          <% if (repin_count > 0) {%>
          %a.post_repin.icons-posts.icon-reshared <%= repin_count%>
          <% } else { %>
          %a.post_repin.icons-posts.icon-reshare <%= repin_count%>
          <% }%>
        %li
          <% if (_.include(promoter_ids, window.current_user_id)) { %>
          %a.disable_post_promotion.icons-posts.icon-promoted <%= reshare_count%>
          <% } else { %>
          %a.post_promotion.icons-posts.icon-promote <%= reshare_count%>
          <% } %>
          
      %ul.unstyled.post-meta.pull-right
        %li
          <% if (user_id != window.current_user_id) { %>
          <% if (_.include(flagger_ids, window.current_user_id)) { %>
          %a.disable_post_flag.icons-posts.icon-flagged{:title => 'Flagged'}
          <% } else { %>
          %a.post_flag.icons-posts.icon-flag{:title => 'Flag'}
          <% } %>
          <% } %>
        %li
          %a.icons-posts.icon-time
            %span.time_count Posted <%= created_at_time %>

  %div.stream_comments
    %ul.comments.unstyled
      <% _.each(_.first(comments,2), function(i) { %> <li class="comment_entry clearfix"><span class="commentor top"><a href="/"><img src="<%= i.image_32 %>" /></a></span><span class="comment_message top"><div class="comment"><a href="/" class="commentor_name"><%= i.author %></a><span class="message"><%= i.message %></span></div><div class="footer"><%= i.created_at_time %> &bull; <a href="#like" class="comment-like">3</a> &bull; <a href="#usermeail">@</a></div></span></li><% }); %>
      <% if (_.size(comments) > 2 ) { %>
      %li.comment_more
        %a{:href => '#', :class=> 'comment_more_link'} View all <%= _.size(comments) %> comments
      <% } %>
    .comment_field
      %img{:src => "<%= window.current_user_picture %>"}
      %textarea.comment_input{:placeholder => 'Enter comment and press enter'}
  
  %div.stream_comments
      
  %span.time_count.hide Posted <%= created_at_time %>