h1
  i.foodpedia Foodpedia
  span = resource.name.humanize
#food data-id=resource.id
  section
    .cover-image
      = image_tag "foodpedia/cover_photo_placeholder.jpg"
      .popular-tag
    .description
      h2 = resource.name.humanize
      p = resource.description
      p.external-link
        i.external-link
        = link_to "Wikipedia", resource.external_uri
    button.btn.btn-subscribe
      i.foodpedia-white
      span Subscribe
  aside
    ul.statistics
      li.popularity
        i.popularity
        span.count = resource.popularity_score
      li.subscribers
        span.count = resource.subscriptions_count
        span.note Subscribers
      li.similar-foods
        span.count = resource.similar_foods_count
        span.note Similar Food
#posts
  h2
    i.feed
    span Feed
  ul.list.posts
    = render partial: "posts/item", collection: resource.posts
.remark Introduction above form the Wikipedia article, licensed under CC-BY-SA. Foodpedia pages are not affiliated with, or endorsed by, anyone associated with the topic.
