%ul.indoor_profile
  %li.profile_pic
    %span.thumbnail
      %img{:src => "<%= profile_image_68 %>"}
    %span.name <%= username %>

  <% if (follow == "self") { %>
  %li.option
    %a{:href => "#users/<%= slug %>/edit", :class => "button_gray <%= window.location.hash == '#users/' + slug + '/edit' ? 'current' : '' %>"} Preference
  <% } %>
  %li.option
    %a{:href => "#user", :class => "button_gray <%= window.location.hash == '#user' ? 'current' : '' %>"} Activity
  %li.option
    %a{:href => "#<%= slug %>/photos", :class => "button_gray <%= window.location.hash == '#'+slug+'/photos' ? 'current' : '' %>"} Photos
  <% if (follow == "self") { %>
  %li.option
    %a{:href => "#notifications", :class => "button_gray <%= window.location.hash == '#notifications' ? 'current' : '' %>"} Notifications <%= notification_count %>
  <% } %>
  <% if (follow == "self") { %>
  %li.option
    %a{:href => "#inbox", :class => "button_gray <%= window.location.hash == '#inbox' ? 'current' : '' %>"} Messages
  <% } %>
  %li.option
    <% if (follow == true) { %>
    %a.unfollow_button.button_gray Following
    <% } else if (follow == false) { %>
    %a.follow_button.button_gray Follow
    <% } else { %>
    <% } %>

%ul.followers
  %li.label_medium <%= username %>&#8217;s Followers (<%= follow_count %>)
  %li.thumbnail_box
    <% _.each(followers, function(i) { %>  <a href="#users/<%= i.slug %>"><img src= "/assets/<%= i.profile_image_34 %>" /></a> <% }); %>
  %li.view_all.center
    %a{:href => "#<%= slug %>/followers"} View all followers

%ul.following
  %li.label_medium <%= username %> is Following (<%= following_count %>)
  %li.thumbnail_box
    <% _.each(following, function(i) { %>  <a href="#users/<%= i.slug %>"><img src= "/assets/<%= i.profile_image_34 %>" /></a> <% }); %>
  %li.view_all.center
    %a{:href => "#<%= slug %>/following"} View all following

%ul.follow_categories
  %li.label_medium &#35;Follow Categories
  <% if (follow == "self") { %>
  %li.category
    %form{:action => "", :method => "post", :class => "user_tag_subscription_form"}
      %input.add_category{:type => "text", :value => "Add a category"}
  <% } %>
