<div class="foodies_wrapper top">

  <div class="search_foodies">
    <input class="wide_input" type="text" value="Search Friends" />
  </div>

  <ul class="foodies">
    <% @followers.each do |follow| %>
    <li>
      <span class="thumbnail">
        <%= image_tag follow.profile_image_50 %>
      </span>
      <span class="name">
        <a href="#users/<%= follow.slug %>">
          <%= follow.username %>
        </a>
      </span>
      <span class="action">
        <% if (follow.follow == true) %>
        <button class="unfollow_button button_white round_2" slug="<%= follow.slug %>">Following</button>
        <% else %>
        <button class="follow_button button_green round_2" slug="<%= follow.slug %>">Follow</button>
        <% end %>
    </li>
    <% end %>
  </ul>

</div>
