$(document).ready(function() {
  // init fb ui
  window.fbAsyncInit = function() {
    FB.init({appId: "<%= Settings.app_id %>", cookie: true, xfbml: true, oauth: true});
  };

  var e = document.createElement('script');
  e.type = 'text/javascript';
  e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
  e.async = true;
  document.getElementById('fb-root').appendChild(e);
  
  // ajax to load friends from fb
  $.ajax({
    type: "GET",
    url: '/invites/facebook/loads', 
		dataType: 'json',
		success: function(data) {
		  if (data.require_authentication) {
		    $(".fb-connect").removeClass("hidden");
		  } else {
		    $(".loading").text('');
        $.each(data, function(key, value) { 
          var html = '<div>';
          html += '<img alt="Picture?type=square" src="http://graph.facebook.com/'+value.fb_id+'/picture?type=square">';
          html += value.name;
          if (value.id !== '') {
            if (value.following == true){
              html += '<a href="#" class="invitation_unfollow" data-user_slug="'+value.slug+'" data-user_id="'+value.id+'">Unfollow</a>';
            } else {
              html += '<a href="#" class="invitation_follow" data-user_slug="'+value.slug+'" data-user_id="'+value.id+'">Follow</a>';
            }
            html += '</div>';
            $(".system_friends").append(html);
          } else {
            html += '<a href="#" class="fb_invite" data-fb_id="'+value.fb_id+'">Invite</a>';
            html += '</div>';
            $(".not_system_friends").append(html);
          }
        });
		  }
		}
  })

  // actual fb ui request method
  function FbAppRequest(fb_ids) {
    FB.ui({
      method: "send",
      to: fb_ids,
      name: "Join ImFoodLover",
      description: "Food Street Malaysia is created to be an internet-based promotions platform for F&B operators and hoteliers.",
      picture: "<%= Rails.application.routes.url_helpers.root_url(:host => Settings.app_host) %>assets/logo.png",
      link: window.invitation_link,
      display: "iframe"
    },
    function(response) {});
  }
  
  // event handler for invite
  $(".fb_invite").live("click", function(){
    FbAppRequest($(this).attr("data-fb_id"));
    return false;
  })
})