$(document).ready(function() {
  // ajax to load friends from fb
  $.ajax({
    type: "GET",
    url: '/invites/gmail/loads', 
		dataType: 'json',
		success: function(data) {
      $(".loading").text('');
      $.each(data, function(key, value) { 
        var html = '<div>';
        html += '<img alt="Picture?type=square" src="xxx">';
        html += value.name;
        html += value.email;
        if (value.id !== '') {
          if (value.following == true){
            html += '<a href="#" class="invitation_unfollow" data-user_slug="'+value.slug+'" data-user_id="'+value.id+'">Unfollow</a>';
          } else {
            html += '<a href="#" class="invitation_follow" data-user_slug="'+value.slug+'" data-user_id="'+value.id+'">Follow</a>';
          }
          html += '</div>';
          $(".system_friends").append(html);
        } else {
          html += '<a href="#" class="email_invite" data-email="'+value.email+'">Invite</a>';
          html += '</div>';
          $(".not_system_friends").append(html);
        }
      });
		}
  })
})