%ul.brand_profile

  %li.about_us
    .label_large About Us
    .brand_abstract More than just a logo, it was carefully thought through and designed so that whenever people think of eating sushi, they’ll think of “Sakae”. Pronounced “Sa-ka-ae”, the word “Sakae” means growth in Japanese. It is also chosen as it sounds like ‘Sake’, the traditional Japanese wine well loved by many around the world.<br />A fun-filled, value for money dining conveyor belt sushi restaurant, Sakae Sushi is committed to offering maximum value, be it in terms of variety...
    
  %li.outlet_details
    .label_large Outlet Details
    
    %ul.outlet.round_4
      %li.information
        %span.outlet_address.top
          .name Sakae Sushi, Suria KLCC
          .address C35, Concourse Floor, Suria KLCC, 50088 Kuala Lumpur, Malaysia.
        %span.detail_info.top
          .business_hours 10:00 - 22:00
          .business_days Mon - Sun
          .telephone +603 2161 2719
          .email email@gmail.com
      
      %li.actions.center
        %span.share_button.button_gray.round_2 Share
        %span.flag_button.button_gray.round_2 Flag
        
      %li.direction
        %span.map_canvas= image_tag "sample-map.png"
        %span.map_description.top
          .distance 0.68 KM away
          .jump_to_nearby_outlet_button.button_gray.round_2 Jump to nearby outlets