@font-face
  font-family: 'OpenSansLight'
  src: url('/assets/fonts/OpenSans-Light-webfont.eot')
  src: url('/assets/fonts/OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-Light-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-Light-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansLightItalic'
  src: url('/assets/fonts/OpenSans-LightItalic-webfont.eot')
  src: url('/assets/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-LightItalic-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-LightItalic-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansRegular'
  src: url('/assets/fonts/OpenSans-Regular-webfont.eot')
  src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-Regular-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-Regular-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansItalic'
  src: url('/assets/fonts/OpenSans-Italic-webfont.eot')
  src: url('/assets/fonts/OpenSans-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-Italic-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-Italic-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansSemibold'
  src: url('/assets/fonts/OpenSans-Semibold-webfont.eot')
  src: url('/assets/fonts/OpenSans-Semibold-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-Semibold-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-Semibold-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansSemiboldItalic'
  src: url('/assets/fonts/OpenSans-SemiboldItalic-webfont.eot')
  src: url('/assets/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-SemiboldItalic-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-SemiboldItalic-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansBold'
  src: url('/assets/fonts/OpenSans-Bold-webfont.eot')
  src: url('/assets/fonts/OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-Bold-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-Bold-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansBoldItalic'
  src: url('/assets/fonts/OpenSans-BoldItalic-webfont.eot')
  src: url('/assets/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-BoldItalic-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-BoldItalic-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansExtrabold'
  src: url('/assets/fonts/OpenSans-ExtraBold-webfont.eot')
  src: url('/assets/fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-ExtraBold-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-ExtraBold-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansExtraboldItalic'
  src: url('/assets/fonts/OpenSans-ExtraBoldItalic-webfont.eot')
  src: url('/assets/fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/OpenSans-ExtraBoldItalic-webfont.woff') format("woff"), url('/assets/fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format("truetype"), url('/assets/fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format("svg")
  font-weight: normal
  font-style: normal
