$icons: sprite-map("icons/*.png")

i
  +squish-text
  background: $icons
  display: inline-block
  line-height: 1%
  vertical-align: text-top
  &.foodpedia
    +sprite($icons, foodpedia, true)
  &.foodpedia-white
    +sprite($icons, foodpedia_white, true)
  &.external-link
    +sprite($icons, external_link, true)
  &.camera
    +sprite($icons, camera, true)
  &.tag
    +sprite($icons, tag, true)
  &.popularity
    +sprite($icons, popularity, true)
  &.feed
    +sprite($icons, feed, true)

  &.post_like
    +sprite($icons, post_like, true)
  &.post_comment
    +sprite($icons, post_comment, true)
  &.post_share
    +sprite($icons, post_share, true)
  &.post_pin
    +sprite($icons, post_pin, true)
