//.navbar .brand
//  +replace-text('brand/logo.png', 61, 61)
//  height: 61px
//  width: 61px
//  margin: 0
//  padding: 0
//  position: absolute
//  left: 30px
//  top: 12px
//
//.navbar-fixed-top
//  background: white image_url('bg/paper.png') repeat-x
//  height: 60px


#topbar
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif
  .navbar-inner
    background: white image_url("topbar-bg.png") repeat-x 0 0
    height: 60px
  .nav
    margin-left: 0px
    li.unregistered
      padding-left: 15px
      padding-right: 15px
      a, a:hover
        color: #df5941
    li
      background: transparent image_url("topbarbg-vert.png") repeat-y 0 0
      height: 60px
      &.userlink
        a
          padding: 0 35px 0 15px
          font-size: 15px
          color: #df5941
          text-shadow: 0px 0px 0px transparent
          position: relative
          .drop-arrow
            background: transparent image_url("drop-arrow.png") no-repeat 0 50%
            display: block
            width: 10px
            height: 60px
            right: 15px
            top: 0
            position: absolute
          &:hover
            box-shadow: inset 0px 0px 30px rgba(173, 162, 143, 0.2)
        img
          border: 4px solid #fff
          float: left
          margin-top: 8px
          margin-right: 15px
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
      a
        line-height: 60px
        margin: 0px
        padding: 0px
      a.topbar-plus
        text-indent: -9999px
        background: transparent image_url("topbar-plus.png") no-repeat 50% 50%
        width: 70px
        height: 60px
        padding: 0
        margin: 0
      a.pmessages
        display: block
        text-indent: -9999px
        background: transparent image_url("topbar-message.png") no-repeat 0 0
        width: 30px
        height: 23px
        margin: 15px 20px
        position: relative
        .message-count
          font-size: 10px
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6)
          font-weight: bold
          text-align: center
          background: #df5941
          -moz-border-radius: 2px
          -webkit-border-radius: 2px
          -o-border-radius: 2px
          -ms-border-radius: 2px
          border-radius: 2px
          display: block
          text-indent: 0
          color: #fff
          padding: 2px 3px
          margin: 0
          line-height: 1
          position: absolute
          right: -4px
          bottom: -4px
      a.following
        display: block
        text-indent: -9999px
        background: transparent image_url("topbar-follower.png") no-repeat 0 0
        width: 27px
        height: 27px
        margin: 15px 20px
      .notification-bubble
        background: #ada28f
        -moz-border-radius: 3px
        -webkit-border-radius: 3px
        -o-border-radius: 3px
        -ms-border-radius: 3px
        border-radius: 3px
        display: block
        color: #fff
        font-weight: bold
        font-size: 15px
        height: 24px
        line-height: 24px
        margin: 15px 20px
        padding: 0 8px
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6)
        position: relative
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5)
        .notification-tip
          display: block
          width: 100%
          height: 4px
          position: absolute
          left: 0
          bottom: -4px
        &.active
          background: #df5941
          .notification-tip
            background: transparent image_url("notification-tip.png") no-repeat 50% 0
    .dropdown-menu
      font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif
      &.wide
        width: 300px
      &.long-content
        li
          min-height: 40px
          height: auto
          padding: 0
      padding: 0
      border: 1px solid #b5b1ab
      -moz-border-radius: 0px
      -webkit-border-radius: 0px
      -o-border-radius: 0px
      -ms-border-radius: 0px
      border-radius: 0px
      width: 200px
      margin-left: 14px
      li
        background: none transparent
        height: 40px
        &.divider
          min-height: 1px
          height: 1px
          padding: 0
        a
          white-space: normal
          font-size: 13px
          padding-left: 20px
          color: #75635b
          line-height: 40px
          font-weight: normal
          display: block
          background-repeat: no-repeat
          background-position: 20px 50%
          position: relative
          &:hover
            background-color: #f4f0e9
          &.icn
            padding-left: 44px
          &.icn-settings
            background-image: image_url("icon-settings.png")
          &.icn-invite
            background-image: image_url("icon-invite.png")
          &.icn-logout
            background-image: image_url("icon-logout.png")
          .dropdown-content
            font-size: 13px
            line-height: 17px
            display: block
            padding-left: 48px
            padding-top: 10px
            padding-right: 10px
            .link
              color: #df5941
              cursor: pointer
              &:hover
                text-decoration: underline
          .timestamp
            color: #ada28f
            font-size: 12px
            margin-left: 48px
            display: block
          .dropdown-avatar
            position: absolute
            left: 16px
            top: 10px
            width: 34px
            height: 34px
            border: 3px solid #fff
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
        &.divider
          height: 1px
          line-height: 1
          background: transparent image_url("separator-horizontal.png") repeat-x 0 0
          margin: 0
      &:before,
      &:after
        display: none
  a.brand
    background: transparent image_url("logo-topbar.png") no-repeat 0 0
    width: 61px
    height: 61px
    display: block
    margin: 0
    text-indent: -9999px
    overflow: hidden
    position: absolute
    left: 30px
    top: 12px
