#new_post
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  -o-border-radius: 4px
  -ms-border-radius: 4px
  border-radius: 4px
  border: 1px solid #a5a29d
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5)
  .modal-body,
  .modal-footer
    padding: 0
    border: 0px none
    background: #fff
  .modal-footer
    padding: 0 10px 10px
  .modal-header
    border-bottom: 0px none
    background: transparent image_url("separator-horizontal.png") repeat-x 0 100%
  #picture_uploader
    +clearfix
    position: relative
    min-height: 82px
    background: #f4efe8 image_url("separator-horizontal.png") repeat-x 0 100%
    .preview
      display: none
      padding: 10px
      text-align: center
    .fileinput-button
      position: relative
      display: block
      margin: 40px auto 0 auto
      overflow: hidden
    .fileinput-button input
      position: absolute
      top: 0
      right: 0
      margin: 0
      border: solid transparent
      border-width: 0 0 100px 200px
      opacity: 0
      filter: alpha(opacity=0)
      -moz-transform: translate(-300px, 0) scale(4)
      direction: ltr

  .btn-facebook,
  .btn-twitter
    background: transparent image_url("icon-facebook.png") no-repeat 0 0
    width: 32px
    height: 32px
    text-indent: -9999px
    border: 0px none
    padding: 0
    margin: 0
  .btn-twitter
    background: transparent image_url("icon-twitter.png") no-repeat 0 0
  .btn-facebook.active
    background: transparent image_url("icon-facebook-active.png") no-repeat 0 0
  .btn-twitter.active
    background: transparent image_url("icon-twitter-active.png") no-repeat 0 0
  #postInfo
    li
      background: white image_url("separator-horizontal.png") repeat-x 0 100%
      padding: 0
      margin: 0
      .icns
        display: block
        width: 50px
        height: 40px
        float: left
        &.icn-tags
          background: transparent image_url("icon-tag.png") no-repeat 50% 50%
        &.icn-albums
          background: transparent image_url("icon-album.png") no-repeat 50% 50%
        &.icn-people
          background: transparent image_url("icon-people.png") no-repeat 50% 50%
        &.icn-location
          background: transparent image_url("icon-location.png") no-repeat 50% 50%
        &.icn-comment
          background: transparent image_url("icon-write.png") no-repeat 50% 50%
      &.collapseAction
        font-size: 12px
        a
          font-weight: bold
          color: #dc533d
          display: block
          padding: 10px 34px
          background: transparent image_url("icon-orangplus.png") no-repeat 17px 50%
      input
        margin: 0
      label
        font-size: 13px
        line-height: 28px
        color: #ada28f
        float: left
        display: block
        min-width: 100px
      .inputWrap
        padding: 5px 0 0 10px
        margin: 0
        min-height: 35px
        display: block
        float: left
        background: transparent image_url("topbarbg-vert.png") repeat-y 0 0
      .input-box
        +min-height(40px)
        width: 320px
        float: left
        // background: image_url("topbarbg-vert.png") repeat-y 0 0
        // padding-left: 5px
      .inputRight
        font-style: italic
        display: block
        position: absolute
        color: #ada28f
        font-size: 12px
        top: 0
        right: 10px
        line-height: 40px

.modal-backdrop
  background-color: #e6e1d9
  opacity: 0.7


/*  Choose Album field */
.choose-album-wrap
  overflow: hidden
  //width: 340px

    
  #post_album_id
    border-top-left-radius: 2px
    border-top-right-radius: 0
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 0
      -moz-border-radius-topleft: 2px
      -moz-border-radius-topright: 0
      -moz-border-radius-bottomleft: 2px
      -moz-border-radius-bottomright: 0
      -webkit-border-top-left-radius: 2px
      -webkit-border-top-right-radius: 0
      -webkit-border-bottom-left-radius: 2px
      -webkit-border-bottom-right-radius: 0
    border: 1px solid #ccc
    border-right: none
    float: left
    height: 16px
    margin: 0
    width: 185px

  .post-album-arrow
    background: white
    border: 1px solid #ccc
    border-left: none
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px
      -moz-border-radius-topright: 2px
      -moz-border-radius-bottomright: 2px
      -webkit-border-top-right-radius: 2px
      -webkit-border-bottom-right-radius: 2px
    display: block
    float: left
    height: 24px
    width: 26px
    background: image_url('small-arrow-down.png') no-repeat center center
    
  #post_album_add_button
    background: #DB5441
    border: 1px solid #D23A2F
    border-radius: 2px
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
    color: white
    display: block
    font-size: 12px
    font-weight: bold
    float: left
    padding: 3px 5px
    //height: 26px
    text-align: center
    text-decoration: none
    margin-left: 5px
    width: 40px
  
/* Override some bootstrap definitions */
.modal-body
  max-height: none
  
  
.modal-choose-album
  background: white
  border: 1px solid #ccc
  box-shadow: 0 0 3px #aaa
  display: none
  position: absolute
  width: 218px
  z-index: 1050


  .albums
    border-bottom: 1px dashed #DBDAD6
    list-style: none
    margin: 0
    padding: 5px 0

    .album
      color: #75635B
      cursor: pointer
      padding: 2px 5px

      &:hover
        background: #F4F1EA

  .actions
    padding: 5px
    width: 209px

    .name
      height: 16px
      margin: 0
      width: 124px

    .create
      background: #DB5441
      border: 1px solid #D23A2F
      border-radius: 2px
        -moz-border-radius: 2px
        -webkit-border-radius: 2px
      color: white
      font-size: 12px
      font-weight: bold
      height: 26px
      width: 70px
/* End: Choose Album field */

/*  "With Who?" field */
#posts_user_names_tagsinput
  margin: 0
  float: left
/*  End: "With Who?" field */