@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/images"
@import "compass/typography/text/replacement"
@import "compass/utilities/general/clearfix"
@import "compass/utilities/general/min"
@import "compass/utilities/sprites/base"
@import "ui/jquery-ui"
@import "fonts"
@import "icons"
@import "navbar"
@import "new_post"
@import "tag_input"

body
  font-family: Arial, Helvetica, sans-serif
  background: #f5f5f5 image_url('bg/body.jpg') repeat
  padding: 80px 0 40px 0

h1, h2, button, .btn
  font-family: 'OpenSansBold', Arial, Helvetica, sans-serif
