div.tagsinput
  *
    line-height: 1em
  background: transparent
  margin-top: 4px
  width: 320px
  height: 20px
  overflow-y: auto
  span.tag
    border: none
    display: block
    float: left
    padding: 5px 10px 5px 18px
    text-decoration: none
    margin: 0 5px 5px 0
    background: #F1EDE4 image_url('icons/tag.png') no-repeat 7px .55em
    a
      font-weight: bold
      color: #73655C
      text-decoration: none
      font-size: .85em
  input
    /* Copied from bootstrap input[type="text"] */
    background-color: #ffffff
    border: 1px solid #cccccc
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s
    -o-transition: border linear 0.2s, box-shadow linear 0.2s
    transition: border linear 0.2s, box-shadow linear 0.2s
    
    /* Copied from bootstrap input[type="text"] */
    display: inline-block
    height: 18px
    padding: 4px
    margin-bottom: 9px
    font-size: 13px
    line-height: 18px
    color: #555555
    
    /* Copied from bootstrap input[type="text"]:focus */
    &:focus
      border-color: rgba(82, 168, 236, 0.8)
      outline: 0
      outline: thin dotted \9
      /* IE6-9 */

      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)
  div
    display: block
    float: left

.tags_clear
  clear: both
  width: 100%
  height: 0px

.not_valid
  background: #FBD8DB !important
  color: #90111A !important
