#main-expand.left
  / Message Title
  %h1.page-title.title-message
    Messages
    / <span id="new-msg-count">(2 new)</span>
  / Send and Search Message
  .send-search-msg.cf
    %a.btn-skin.left{"data-toggle" => "modal", :href => "#new_message_canvas"} Send a new message
    %form#search-msg.search-msg.left
      %fieldset
        %input.left{:name => "s", :placeholder => "Search Message", :type => "text", :value => ""}
          %input#searchsubmit.search-btn{:type => "submit", :value => ""}
          
  #new-msg
  / pagination
  %ul.msg-pagination.message-pagination.cf
    %li
      %a{:href => "#"} « First
    %li
      %a{:href => "#"} ‹ Prev
    %li
      %a.active-page 1
    %li
      %a{:href => "#"} 2
    %li
      %a{:href => "#"} 3
    %li
      %a{:href => "#"} 4
    %li ...
    %li
      %a{:href => "#"} Next ›
    %li
      %a{:href => "#"} Last »
  #new_message_canvas.reveal-modal.modal.hide.fade
    .popup-content
      %a#close-new-message.btn-close.right{"data-dismiss" => "modal", :href => "<%= window.document.URL %>"}
      %h2 Send a new message
    #send-msg-form
      %form#send-msg
        .popup-content
          / To
          %fieldset
            %label{:for => "name"} To:
            %input#recipient-message{:name => "name", :placeholder => "Recipient name", :type => "text"}
              / if disabled
          / Subject
          %fieldset
            %label{:for => "subject"} Subject:
            %input#subject-message{:name => "subject", :placeholder => "Enter your subject", :type => "text"}
          / Message
          %fieldset
            %label{:for => "send-message"} Message:
            %textarea#body-message{:cols => "10", :name => "message", :placeholder => "Enter your message", :rows => "5"}
        / before sending message
        .popup-content.no-separator.popup-send-message
          %a.send_button.btn-skin-msg{:href => "<%= window.document.URL %>"} Send Message
        / if failure
        #send-msg-failed.popup-content.popup-alert-error.hide
          %p.alert-error
            Sorry, we are having trouble sending your message.
    #send-msg-success.hide
      / if success
      .popup-content.popup-alert-success
        %p.alert-success
          Message was sent successfully.
      .popup-content.no-separator.hide
        %a.btn-skin-msg.btn-skin-msg-green{"data-dismiss" => "modal", :href => "<%= window.document.URL %>"} Close