<div id="message-<%= slug %>" class="message cf">
<div class="sender left">
<a href="#"><img width="40" height="40" class="profile-pic" src="<%= image_68 %>"></a>
</div>
<div class="message-box box">
<div class="message-content">
<span class="<%= read_status == false ? "new" : "" %>"></span>
<h3><a href="/#inbox/#conversations/<%= slug %>"><%= subject %></a></h3>
<p><%= last_message_simple %></p>
</div>
<div class="msg-detail box-yellow">
<p>from <a href="/<%= username %>"><%= username %></a> . <%= updated_time %></p>
</div>
</div>
</div>