#main-expand.left
  %a.title-right-link.right{:href => "/inbox"} Back to all messages
  %h1.page-title.title-message

  #conversations-msg

  #new-reply
  .message.cf
    .sender.left
      %a{:href => "#"}
        %img{:id => "img-profile-reply", :class => "profile-pic", :width => "40", :height => "40"}
    .message-box.box
      .message-content
        %textarea{:class => "message-post-reply", :placeholder => "Post your reply", :rows => 10}
        .loading-reply
        %a{:id => "reply-msg" ,:class => "btn-skin", :href => "<%= window.document.URL %>"} Post Reply