<% if (indexData == "0") { %>
.message.incoming-message.cf
  .sender.cf
    %a{:href => "/<%= username %>"}
      %img{:src => "<%= image_50 %>", :class => "profile-pic left", :width => "40", :height => "40"}
    %h3 <%= subject_simple %>
  .message-box.incoming-message-box.box
    .message-content
      %p <%= body_simple %>
    .msg-detail.box-yellow
      %p <%= created_time %>
<% } else { %>
.message.cf
  .sender.left
    %a{:href => "/<%= username %>"}
      %img{:src => "<%= image_50 %>", :class => "profile-pic left", :width => "40", :height => "40"}
  .message-box.box
    .message-content
      // %h3 <%= subject_simple %>
      %p <%= body_simple %>
    .msg-detail.box-yellow
      %p <%= created_time %>
<% } %>
