<div class="photos_wrapper" data-username="<%= selected_user %>">
  <ul class="album sortable">
    <div class="label_large">
      <% if params[:slug] %>
          <%= params[:slug].gsub(/-/, " ") %>
      <% else %>
          <%= selected_user.username %>
      <% end %>
      's Albums (<%= selected_user.albums.count %>)
    </div>
    <% positions.each do |position| %>
        <% if position.album %>
            <% album = position.album %>
            <% album_name = album.name %>
            <li class="draggable">
              <div class="album_header">
                <div class='rename rename_om'>
                  <form action="/<%= selected_user.username %>/albums/<%= clear_slug(album_name) %>/update?from=photos" method="get">
                    <input name="new_tag_name" class="text" type="text" value="<%= album_name %>"/>
                    <input type="image" src="/assets/rename_button.png" class="submit"></button>
                  </form>
                </div>
                <% if album_name!="Default" %>
                    <div class='album_options action_om edit'>
                      <%= image_tag "block_options.png", :title => "Edit album name" %>
                    </div>
                    <div class='album_destroy action_om delete' id="<%= album.name %>">
                      <%= image_tag "remove_album.png", :title => "Remove album" %>
                    </div>
                <% end %>
                <div class='header_text'>
              <span class="edit" id="<%= album_name %>">
                <%= link_to(album_name, photos_album_path(selected_user, album_name)) %>
              </span>
                  <span class='hidable'>(<%= album.posts.count %>)</span>
                </div>
              </div>
              <div class='album_photos_container'>
                <% album = position.album %>
                <% album.posts.each_with_index do |post, index| %>
                    <%= link_to(image_tag(post.image_58), single_post_path(post.id)) if index < 9 %>
                <% end %>
              </div>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
<div class="dialog_overlay"></div>
<div class="dialog delete">
  <div class="header">Delete Confirmation <span class="close"></span></div>
  <div class="content">Are you sure you want to delete this album?</div>
  <ul class="actions">
    <li class="action delete">
      <%= link_to("Delete", "#") %>
    </li>
    <li class="action cancel"><a href="#">Cancel</a></li>
  </ul>
  <div class="footer">*All photos in this album will move to default album.</div>
</div>