<% set_title(params[:slug] + "'s Album \"" + params[:tag].gsub(/-/, ' ') + "\"") %>

<div class="photos_wrapper">
  
  <div class="label_large">
    <span class="title" data-title="<%= params[:tag].gsub(/[^a-zA-Z0-9]/, ' ').strip %>" data-slug="<%= params[:slug] %>" data-quantity="<%= @posts.size %>"><%= params[:slug].gsub('-', ' ') %>'s Album "<%= params[:tag].gsub(/[^a-zA-Z0-9]/, ' ').strip %>" (<%= @posts.size %>)</span>
    <% if not current_user.nil? and (current_user.slug == params[:slug]) %>
    <ul class="actions">
      <li class="action edit"></li>
      <li class="action delete"></li>
    </ul>
    <% end %>
  </div>
  
  <div class="album">
    
  </div>
  
  <ul class="album">
    <% @posts.each do |photo| %>
    <li class="photo">
      <a class="photo_thumbnail" href="/post/<%= photo.id %>">
        <img src="<%= photo.image_130 %>" />
      </a>
      <% if photo.repinned_post? %>
        <div class="reppined"><%= raw photo.repinned_via_message %></div>
      <% end %>
      
      <ul class="actions">
        <li class="action like"><%= photo.like_count %></li>
        <li class="action comment"><%= photo.comment_count %></li>
        <li class="action share"><%= photo.reshare_count %></li>
        <li class="action pin"><%= photo.repin_count %></li>
      </ul>
    </li>
    <% end %>
  </ul>
  
  <div class="dialog_overlay"></div>
  <div class="dialog delete">
    <div class="header">Delete Confirmation <span class="close"></span></div>
    <div class="content">Are you sure you want to delete this album?</div>
    <ul class="actions">
      <li class="action delete"><a href="/<%= params[:slug] %>/albums/<%= params[:tag].gsub(/[^a-zA-Z0-9]/, '-').gsub(/[^a-zA-Z0-9]/, '-').gsub(/\-*$/,'').gsub(/^\-*/,'').strip %>/remove">Delete</a></li>
      <li class="action cancel"><a>Cancel</a></li>
    </ul>
    
    <div class="footer">*All photos in this album will move to default album.</div>
  </div>
</div>
