li.post data-id=item.id
  .image = image_tag item.medium_image
  ul.statistics
    li.likes
      i.post_like
      span.count = item.like_count
    li.comments
      i.post_comment
      span.count = item.comment_count
    li
      i.post_share
      span.count = item.reshare_count
    li.repins
      i.post_pin
      span.count = item.repin_count