#new_post.modal.hide.fade
  .modal-header
    %button.close{"type" => "button", "data-dismiss" => "modal"} &times;
    //TODO Hi {username}! Share some great food!
    %h3 Share some great food!
  .modal-body
    #picture_uploader
      %span.btn.btn-success.fileinput-button
        %i.camera
        %span Add Food Photo
        = file_field_tag "picture[file]", "data-url" => pictures_path(format: 'json'), class: 'file-field'
      .preview
        %img
      .progress-bar
        .progress.progress-success.progress-striped.active.fade
          .bar { style: "width:0%;" }
    = form_for Post.new, html: { id: 'new_post_form', class: 'new_post_from' } do |f|
      .hidden-input= f.hidden_field :picture_id
      %input.hidden-input{ :type => "hidden", :name => "user_slug", :value => "#{current_user.try(:slug)}" }
      %ul#postInfo.unstyled
        %li.clearfix
          %span.icn-tags.icns
          %span.inputWrap
            %label Food name
            .input-box= f.text_field :food_names, placeholder: "Add food name"
        %li.collapse.postToggle.clearfix
          %span.icn-albums.icns
          // %span.inputWrap= f.collection_select :album_id, current_user.try(:albums) || [], :id, :name
          %span.inputWrap.choose-album-wrap
            %label Albums
            %input{"id" => "post_album_id","type" => "text", "placeholder" => "Choose album", "name" => "post[album_tag_list]"}
            %span.post-album-arrow
            // %a{"id" => "post_album_add_button"} Add
          %span.inputRight (Optional)
        %li.collapse.postToggle.clearfix
          %span.icn-people.icns
          %span.inputWrap
            %label With who?
            %input{"id" => "posts_user_names", "name" => "shared_users", "type" => "text", "placeholder" => "Add users", "placeholder" => "Add user"}
          %span.inputRight (Optional)
        %li.collapse.postToggle.clearfix
          %span.icn-location.icns
          %span.inputWrap
            %label At where?
            %input{"name" => "location", "type" => "text", "placeholder" => "Add location"}
          %span.inputRight (Optional)
        %li.collapse.postToggle.clearfix
          %span.icn-comment.icns
          %span.inputWrap
            %label Add comments
            = f.text_field "message", placeholder: "Add comment"
          %span.inputRight (Optional)
        %li.collapseAction.clearfix
          %a{"data-toggle" => "collapse", "href" => "#", "data-target" => ".postToggle"} Add more info <small>(Optional)</small>
        %input.hidden-input{ :id => 'share_facebook', :type => "hidden", :name => "share_facebook", :value => "" }
        %input.hidden-input{ :id => 'share_twitter', :type => "hidden", :name => "share_twitter", :value => "" }

  .modal-footer
    == Share with friends at
    %a.btn.btn-large.btn-facebook Facebook
    %a.btn.btn-large.btn-twitter Twitter
    %a.btn.btn-large.btn-danger#new_post_submit Post

.modal-choose-album
  %ul.albums
    - current_user.albums.each do |album|
      %li.album= album.name
    - end if not current_user.nil?
  .actions
    %input.name{"type" => "text", "placeholder" => "New album"}
    %button.create
      Create
