-#:javascript
-#  window.parent.addPost(#{ @post.to_json(only: [:_id, :message, :created_at, :like_count, :comment_count], methods: [:image_200, :username, :image_68, :created_at_time, :like, :all_taggings, :creator_slug])});


