if (<%= @flag.errors.blank? %> == true) {
  var id = "<%= @post.id.to_s %>";
  $("#"+id+" a.post_flag").text("Flagged").removeClass('post_flag').addClass('disable_post_flag');
} else {
  $(".flag_post_errors").html("<%= @flag.errors.full_messages.join(', ') %>");
  var submitButton = $('.flag_post').find("input[type='submit']");
  $(submitButton).attr("value", "Flag");
  $(submitButton).attr("disabled", false);
}

