<div>
  <ul>
    <%= form_for @flag, :url => flag_post_path(@post), :html => {:remote => true, :method => :post, :class => 'flag_post'} do |form| %>
      <div class="flag_post_errors"></div>
      <li>
        
        <%= form.radio_button :reason, Flag::REASON[0], :class=> 'reason_radio'%><%= form.label 'Spam', :class=>'flag_radio_label'%><br />
        <%= form.radio_button :reason, Flag::REASON[1], :class=> 'reason_radio' %><%= form.label 'Inappropiate', :class=>'flag_radio_label' %><br />

      </li>
      <li class="flag_description">
        <%= form.text_field :description, :class=>"flag_description_input", :placeholder=>'Please specify' %>
      </li>

      <div class="center">
      	<%= form.submit 'Flag' %>
      </div>
      
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  //<!CDATA[
  $(document).ready(function() {
  	$(".flag_description_input").attr("disabled", "disabled");
    $('.flag_post').submit(function(){
       var submitButton = $('.flag_post').find("input[type='submit']");
       $(submitButton).attr("value", "Please Wait...");
       $(submitButton).attr("disabled", "true");
    })
    
    $(".reason_radio").change(function(){
    	
    	var value = $(this).val();
    	if (value == 'Incorrect Content'){
    		$(".flag_description_input").removeAttr("disabled"); 
	        
	      } else {
	        $(".flag_description_input").attr('disabled', "disabled");
	      }
    });
    /*
    $("#flag_reason").change(function() {          
      var value = $("#flag_reason option:selected").val();
      if (value == 'Incorrect Content'){
        $(".flag_description").removeClass('hidden');
        $.fn.colorbox.resize();
      } else {
        $(".flag_description").addClass('hidden');
      }
    });*/
  })
  //]]>
</script>