= form_for Post.new, url: posts_path do |f|
  .barrier_10.border_bottom.relative
    = f.text_field :food, :value => "Share new food...", :class => "wide_input inline"
    .post_error.animated.bounce Tell us something!
    .clearfix
    .post_image_cage
      .label_medium Upload a photo
      = f.file_field :image, :class => "inline"
  .barrier
    %span.extension.left
      %span.people
      %span.tags
      %span.place
    = f.label :tags
    = f.text_field :tags, :value => ''
    %span.right.relative
      = f.submit "Post", :class => "post_button button_gray"
      .post_loading
        %img{:src=> "/assets/loading-reply.gif", :alt => ""}
    .clearfix
