$('.repin_container').find("input[type='submit']").attr("value", "Create");
$('.repin_container').find("input[type='submit']").removeAttr("disabled");
$('.repin_container').find("#select_album_flag").val("false");
  
if (<%= @repinned_post.errors.blank? %> == true) {
  var id = "<%= @post.id.to_s %>";
  $(".repin_post_info").html("Post repinned");
  var repinholder = $(".repin_container").parent().find(".post_repin");
  repinholder.html((parseInt(repinholder.html()) + 1));
  
} else {
  $(".repin_post_errors").html("<%= @repinned_post.errors.full_messages.join(', ') %>");
  var submitButton = $('.edit_post').find("input[type='submit']");
  $(submitButton).attr("value", "Pin It");
  $(submitButton).attr("disabled", false);
}

