<div id="wrapper" class="container">
<div class="row mainbody">
<div class="span9">
<div id="main">
<div id="content_bar"><div>
  
  <div class="stream_wrap">
    <div class="stream_item clearfix" id= "<%= @post.id %>">
      <div class="users_pane">
        <div class="profile_pic">
          <img src="<%= @post.image_68 %>" />
        </div>
        <div class="profile_with">
          <small>with</small>
          <% @post.first_shared_users.each do |user| %>
          <a href='/<%= user.slug %>'>
            <%= image_tag user.profile_image_50 %>
          </a>
          <% end %>
          <% if @post.extra_shared_users_count > 0 %>
            <div class="profile_with-more">
              <a class="popover-trigger" href="#">+<%= @post.extra_shared_users_count %></a>
              <ul class="popover-content unstyled">
                <% @post.extra_shared_users.each do |user| %>
                  <li>
                    <a href='/<%= user.slug %>'><%= user.slug %></a>
                  </li>
                <% end %>
              </ul>
            </div><!--- profile_with-more --->
          <% end %>
        </div><!--- profile_with -->
      </div>
      
      <div class="content_pane">
        <% if (@post.user_id == current_user.try(:id))  %>
        <div class="post-action">
          <a class='post_edit icon-pencil' id="<%= @post.id %>" title="Edit"></a>
          <a class="post_remove icon-remove" title= "Remove"></a>
        </div>
        <% end %>
        
        <a href="#users/<%= params[:slug] %>"><%= @post.username %></a> <%= @post.message %> - at - <a class="stream_location" href="#"><%= @post.location.try(:name) %></a>
  
        <div class="content_tags clearfix">
          <ul class="unstyled clearfix">
            <li>
              <a href='#'>Hamburger</a>
            </li>
            <li>
              <a href='#'>Hamburger</a>
            </li>
          </ul>
        </div><!--- content_tags clearfix --->
        <div class="photo_frame">
          <a href="#post/<%= @post.id %>">
            <img src="<%= @post.image_200 %>" class="album-pic" />
          </a>
          <div class="album_name">
            <a href="#post/<%= @post.id %>">Album name</a>
          </div>
          <div class="album_clip">
          </div>
        </div>
      </div><!--- content_pane --->
      
      <div class="clear"></div>
      
      <div class="content_bottom clearfix">
        <ul class="unstyled pull-left post-meta">
          <li>
            <% if (@post.like == true)  %>
            <a class="icons-posts icons-liked post_like"></a>
              <%= @post.like_count %>
            <% else  %>
            <a class="icons-posts icons-unlike post_like">
              <%= @post.like_count %>
            </a>
            <% end %>
          </li>
          <li>
            <a class="icons-posts icon-comments">
              <%= @post.comment_count %>
            </a>
          </li>
          <li>
            <a class="post_reshare icons-posts icon-reshare">198</a>
          </li>
          <li>
            <% if (@post.user_id != current_user.try(:id))  %>
            <a class="post_repin icons-posts icon-reshared">198</a>
            <% end %>
          </li>
          <li>
            <% if (@post.send(:promoter_ids).include?(current_user.try(:id)))  %>
            <a class="disable_post_promotion icons-posts icon-promoted">12</a>
            <% else %>
            <a class="post_promotion icons-posts icon-promote">289</a>
            <% end %>
          </li>
        </ul>
  
        <ul class="unstyled post-meta pull-right">
          <li>
            <% if (@post.send(:flagger_ids).include?(current_user.try(:id))) %>
            <a class="disable_post_flag icons-posts icon-flagged"></a>
            <% else %>
            <a class="post_flag icons-posts icon-flag"></a>
            <% end %>
          </li>
          <li>
            <a class="icons-posts icon-time">
              <span class="time_count">
                Posted <%= @post.created_at_time %>
              </span>
            </a>
          </li>
        </ul>
      </div><!--- content_bottom clearfix --->
  
    </div><!--- stream_item clearfix -->
  
    <div class="stream_comments">    
      <ul class="comments unstyled">
        <li class="comment_more">
          <a href='#'>View all 4 comments</a>
        </li>
      </ul>
      <div class="comment_field">
        <img src="<%= @post.image_68 %>" />
        <textarea class="comment_input" placeholder='Enter comment and press enter'></textarea>
      </div>
    </div>
  
    <div class="stream_comments">
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
