<div id="content_bar">
  Loading ...
</div>
<!-- Backbone init -->
<script type="text/javascript">
  $(document).ready(function() {
    window.streams_collection = new Foodstreet.Collections.StreamsCollection();
    window.stream_router = new Foodstreet.Routers.StreamsRouter();
    Backbone.history.start()
  });
</script>
