/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_directory .
*/

/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* Website Font */
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('fonts/OpenSans-Bold.ttf');
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { text-decoration: none; display: inline-block; color: #36C; }
a:visited { color: inherit; }
a:hover { text-decoration: underline; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0; list-style: none;  }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* =============================================================================
   Inputs
   ========================================================================== */

input {
  color: #e0e0e0;
  outline: none;
  padding: 3px 5px;
}

input:focus {
  color: #606060;
}


/* ==|== primary styles =====================================================
   Author: Arius Lee
   ========================================================================== */

/* Global CSS */
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  color: #404040;
	background:#fff url('new_images/background.jpg') repeat-y;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1px;
  text-stroke-color: rgba(0, 0, 0, 0);
  text-stroke-width: 1px;
}

#wrapper {
  width: 100%;
  height: 100%;
}

.inner_wrapper {
  width: 960px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  outline: none;
}

.barrier_5 {
  padding: 5px;
}

.barrier_10 {
  padding: 10px;
}

.barrier_15 {
  padding: 15px;
}

.barrier_20 {
  padding: 20px;
}

.gap_right_5 {
  margin-right: 5px;
}

.gap_right_10 {
  margin-right: 10px;
}

.gap_bottom_5 {
  margin-bottom: 5px;
}

.gap_bottom_10 {
  margin-bottom: 10px;
}

.gap_bottom_15 {
  margin-bottom: 15px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.top {
  vertical-align: top;
}

.middle {
  vertical-align: middle;
}

.last {
  border-bottom: none !important;
}

span, .inline {
  display: inline-block;
}

.block {
  display: block;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

h1, h2, h3, h4 {
  margin: 0;
}

.label_small {
  font-size: 12px;
  font-weight: normal;
}

.label_medium {
  font-size: 13px;
}

.label_large {
  font-size: 16px;
  font-weight: bold;
}

.button_white {
  border: 1px solid #D9D9D9;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
}

.button_red {
  border: 1px solid #D14836;
  background: #D14836;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 8px;
}

.button_green {
  border: 1px solid #5C8D00;
  color: #fff;
  text-shadow: 0 -1px #6D9F0D;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 8px;
  cursor: pointer;
  background: #8abf21; /* Old browsers */
  background: -moz-linear-gradient(top,  #8abf21 0%, #599906 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8abf21), color-stop(100%,#599906)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8abf21 0%,#599906 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8abf21 0%,#599906 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8abf21 0%,#599906 100%); /* IE10+ */
  background: linear-gradient(top,  #8abf21 0%,#599906 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abf21', endColorstr='#599906',GradientType=0 ); /* IE6-9 */
}

.button_green:hover {
  background: #6D9F0D;
}

.button_gray {
  border: 1px solid #D9D9D9;
  color: #868686;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 1px #fff;
  cursor: pointer;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 71%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(71%,#f1f1f1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 71%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 71%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 71%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#f1f1f1 71%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.button_gray:hover {
  background: #f6f6f6;
}

.button_gray.current {
  background: #F1F1F1;
  -webkit-box-shadow: inset 0 0 5px 0 #e0e0e0;
  -moz-box-shadow: inset 0 0 5px 0 #e0e0e0;
  box-shadow: inset 0 0 5px 0 #e0e0e0;
}

.box_blue {
  border: 1px solid #1EB0D8;
  text-shadow: 0 1px #fff;
  color: #333 !important;
  padding: 4px 10px;
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
  background: linear-gradient(top,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
  
}

.border_dark {
  border: 1px solid #5D9499;
}

.border_bottom {
  border-bottom: 1px solid #ccc;
}

.round_2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.round_4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.box_shadow_1 {
  -webkit-box-shadow: 0 1px 3px 0 #5D9499;
  -moz-box-shadow: 0 1px 3px 0 #5D9499;
  box-shadow: 0 1px 3px 0 #5D9499;
}

.box_shadow_2 {
  -webkit-box-shadow: 0 1px 3px 1px #666;
  -moz-box-shadow: 0 1px 3px 1px #666;
  box-shadow: 0 1px 3px 1px #666;
}

.wide_input {
  width: 522px;
  border: 1px solid #E0E0E0;
  padding: 5px;
  font-size: 15px;
}

.medium_input {
  width: 288px;
  border: 1px solid #E0E0E0;
  padding: 8px 5px;
  font-size: 15px;
  color: #4d4d4d;
}

.animation {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/* Header */
header {
  height:40px;
  background: #fff;
  padding:0 10px;
	background:#d8d9cf url('new_images/header.jpg') repeat-y;
	border: 1px solid #d8d9cf;
}

header .adjust_wrapper {
  width: 685px;
}

.search_input, .search_filter {
  border:1px solid #f7f4ef;
  margin-left:10px;
  padding:6px 10px;
  background:#f7f4ef;
  color:#ada28f;
  box-shadow:inset 0 1px 1px 0 #e0e0e0;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}

.search_input:focus {
  background: #fff;
}

#session_corner img {
  width: 24px;
  height: 24px;
}

header .nav_link {
  margin-left: 10px;
}

header #session_corner {
  margin:8px 0 0 20px;
}
header .header_menu {
  width: 685px;
}
a.default_link {
	margin-left:5px;
	color:#ff0b0b;
}
.notificationToggle a:hover {
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
.notificationToggle ul {
	margin:2px -1px 0 -1px;
	display: none;
	list-style-type: none;
}
.notificationToggle li {
	width:200px;
	float:left;
	background-image:url('new_images/header.jpg');
	border-left:1px solid #d0ccc5;
	border-right:1px solid #d0ccc5;
	border-bottom:1px dashed #d0ccc5;
}
.notificationToggle:hover ul {
	display: block;
}
.see_all a {
	color:#e1644d;
	display:block;
	padding:10px 5px;
	text-align:center;
	margin-bottom:-1px;
	border-bottom:1px solid #d0ccc5;
}
.senderImage {
	width:24px;
	height:24px;
	border:1px solid #fff;
	margin:5px;
}
.toggleMenu {
	min-width:150px;
	height:40px;
	float:left;
	border-left: 1px dashed #ada28f;
	border-right: 1px dashed #ada28f;
	margin-left:20px;
}
img.thumbnail_link {
	width:24px;
	height:24px;
	border:2px solid #fff;
	margin:5px;
}
.arrow_down {
	margin:13px;
}
.toggleMenu a {
	padding:5px 0;
}
.toggleMenu a:hover {
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
.toggleMenu ul {
	margin:0 -1px 0 -1px;
	display: none;
	list-style-type: none;
}
.toggleMenu li {
	min-width:150px;
	background-image:url('new_images/header.jpg');
	border-left:1px solid #d0ccc5;
	border-right:1px solid #d0ccc5;
}
.toggleMenu:hover ul {
	display: block;
}
.dropdown a {
	margin-left:10px;
}
.dropdown img {
	width:10px;
	height:10px;
	padding-left:15px;
	border: none;
}
.logout_line {
	border-top:1px dashed #d0ccc5;
	border-bottom:1px solid #d0ccc5;
}
.search_filter {
	height:13px;
	margin-left:-6px;
}
.toggleFilter {
	height:40px;
}
.toggleFilter ul {
	position:absolute;
	margin:3px -1px;
	display:none;
	list-style-type:none;
}
.toggleFilter li {
	width:50px;
	background-image:url('new_images/header.jpg');
	border-left:1px solid #d0ccc5;
	border-right:1px solid #d0ccc5;
}
.toggleFilter:hover ul {
	display: block;
}
.filterSelection li {
	border:none;
	font-size:10px;
}
.filterSelection li + li {
	float:none;
}
.toggleFilter input[type=checkbox] {
	width:10px;
	height:10px;
	margin:2px;
}
.messageCount {
	width:10px;
	height:10px;
	color:#fff;
	font-size:8px;
	text-align:center;
	margin:-15px 0 0 25px;
	background-color:#df5941;
	position:relative;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.add_post, .notification_icon, .message_icon {
	width:40px;
	height:39px;
	float:left;
	position:relative;
	border-right:1px dashed #d0ccc5;
}
.add_post img {
	width:13px;
	height:13px;
	margin:13px 13px;
}
a.non_notification, a.notification, .message_icon img {
	width:26px;
	height:20px;
	color:#fff;
	font-size:11px;
	margin:9px 7px;
	text-decoration:none;
	text-align:center;
	background-repeat: no-repeat;
	background-size:26px 20px;
}
a.non_notification {
	background-image:url('new_images/notify_icon_0.png');
}
a.notification {
	background-image:url('new_images/notify_icon.png');
}
.searchbox input[type=text] {
	height:13px;
	margin-top:6px;
}
.searchbox input[type=submit] {
	width:37px;
	height:27px;
  outline: none;
  border: none;
	margin:6px 0 0 -4px;
	text-indent: -9999em;
	background-image:url('new_images/search_btn.png');
	background-repeat: no-repeat;
}
.searchbox li {
	float:left;
}

/* Left Layout */
.left_content {
	width:120px;
	float:left;
	margin:0 auto;
}
.title_label {
	margin:30px 0;
}
.title_label img {
	width:17px;
	height:17px;
	float:left;
}
.title_label h3 {
	float:left;
	color:#75635b;
	font-family:"OpenSans-Bold";
	margin-left:10px;
}
.picture_pane {
	margin-top:15px;
}
.news_pane {
	margin-top:10px;
}
.followToggle ul {
	width:150px;
	margin:-60px 0 0 120px;
	display: none;
	list-style-type: none;
  broder: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.followToggle li {
	float:left;
}
.followToggle:hover ul {
	display: block;
	position:absolute;
}
/* Middle Layout */
.middle_content {
	width:560px;
	float:left;
	margin:0 auto;
}
/* Right Layout */
.right_content {
	width:280px;
	float:left;
	margin:0 auto;
}
/* Main */

#main {
}

#main .inner_wrapper {
  padding: 15px 0;
  margin-top: 0px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

#profile_bar {
  width: 188px;
}

#content_bar {
  width: 570px;
  min-height: 600px;
  padding-bottom: 20px;
}

#content_bar .stream_wrapper,
#content_bar ul.foodies {
  /*background: url(/assets/loading.gif) no-repeat center 30px;*/
  min-height: 500px;
}

.stream_item,
ul.foodies li {
  background:#fff;
}
.stream_item {
	background:transparent;
	margin-top:10px;
}
.post_content {
	background:transparent url('new_images/header.jpg') repeat-y;
}

#sidebar {
  width: 178px;
  padding-left: 10px;
}

/* Footer */
footer {
  width: 100%;
  color: #999;
}

footer .inner_wrapper {
  padding: 10px 0 30px;
}

footer.fixed {
  width: 100%;
  bottom: 5px;
}

footer.fixed span {
  padding: 0 10px;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear {clear:both;}

/* Current URL */
.current {
	background:transparent url('new_images/right_arrow.png') no-repeat 80px 10px;
}
/* Left Nav */
.top_nav {
	width:80px;
	margin:15px 5px 0 0;
	border-bottom:1px dashed #ada28f;
}
.bottom_nav {
	width:80px;
	margin:2px 5px 30px 0;
	border-bottom:1px dashed #ada28f;
}
.followToggle img, .bottom_icon_img img {
	width:35px;
	height:35px;
	margin-left:17px;
}
.photo_border img {
	border:2px solid #fff;
}
.left_nav {
	margin-top:60px;
	width:100px;
}
.left_nav li {
	margin-top:20px;
	display:block;
}
.left_nav li + li {
	margin-top:20px;
}
.bottom_icon_img li, .bottom_icon_img li + li, .icon_img li, .icon_img li + li {
	margin-top:0;
}
.icon_img img {
	width:45px;
	min-height:26px;
	margin-left:13px;
}
.followingToggle label, .bottom_icon_img label, .icon_img label {
	width:70px;
	margin-top:5px;
	font-size:10px;
	display: block;
	text-transform:uppercase;
	text-align:center;
}
.left_nav a {
	display: block;
}
a.home_icon, a.popular_icon, a.tag_icon {
	text-indent: -9999em;
}
a.popular_icon {
	background-image:url('new_images/popular_icon.png');
}
a.tag_icon {
	background-image:url('new_images/tag_icon.png');
}

/* Right Content */
.food_lover {
	margin:10px 15px;
}
.food_lover h3, .friend_activities h3 {
	margin-bottom:10px;
}
.food_lover li, .friend_activities li {
	display:inline-block;
}
.food_lover li + li, .friend_activities li + li {
	margin-top:10px;
}
.profile_img {
	width:30px;
	height:30px;
	float:left;
	border:1px solid #fff;
}
.user_name {
	width:150px;
	float:left;
	color:#df5941;
	margin:4px 8px;
	position:relative;
}
.add_icon {
	width:30px;
	height:20px;
	float:left;
	position:relative;
}
.view_more {
	color:#75635b;
}
.friend_activities {
	margin:20px 15px 10px 15px;
}
.activities_label {
	width:190px;
	margin-left:8px;
	float:left;
	position:relative;
}
.activities_label a {
	color:#df5941;
}
/* Post Message */
#cboxLoadedContent {
	background:transparent url('new_images/header.jpg') repeat-y;
}
.postMessage {
	width:508px;
}
.postMessage h1 {
	color:#df5941;
	font-size:18px;
	line-height:28px;
}
.addPhoto {
	width:508px;
	height:100px;
	background:transparent url('new_images/background.jpg') repeat-y;
	display:block;
	border-top:1px dotted #d0ccc5;
}
a.addPhotoBtn {
	margin:30px 179px;
	position:relative;
}
.addPhotoBtn img {
	width:150px;
	height:40px;
}
.postAction li {
	height:30px;
	border-top:1px dotted #d0ccc5;
}
.postAction img {
	width:13px;
	height:14px;
	margin:7px 20px;
}
.optionInput img {
	width:10px;
	height:10px;
}
.actionImg {
	float:left;
}
.food_tag_small img {
	width:7px;
	height:9px;
	margin:0;
}
ul.food_tag_small {
	float:left;
	margin-top:3px;
}
.food_tag_small li {
	height:20px;
	border-top:none;
	float:left;
	padding:2px 10px;
	color:#75635b;
	font-size:10px;
	line-height:10px;
	min-width:60px;
	background-color:#f1ece3;
	display:block;
}
.food_tag_small li + li {
  margin-left:5px;
}
.actionLabel {
	float:left;
	margin:5px 10px 0 0;
}
.borderBottom {
	border-bottom:1px dotted #d0ccc5;
}
.shareIcon {
	float:right;
	position:relative;
}
.shareIcon img {
	width:32px;
	height:32px;
}
.invitation {
	width: 35px;
	height: 394px;
}
