ul.brand_profile {
  .about_us, .outlet_details {
    padding: 0 20px 15px;
    border-bottom: 1px solid #F8F8F8;
    margin-bottom: 15px;
    .label_large {
      margin-bottom: 8px;
    }
    a {
      color: #36C;
    }
  }
  .about_us {
    .brand_abstract {
      line-height: 1.5em;
    }
  }
  .outlet_details {
    .outlet {
      background: #f9f9f9;
      border: 1px solid #ccc;
      .information, .actions, .direction {
        padding: 10px;
      }
      .information {
        .outlet_address {
          width: 320px;
          padding-right: 10px;
          .name {
            font-weight: bold;
            margin-bottom: 5px;
          }
          .address {
            color: #868686;
          }
        }
        .detail_info {
          line-height: 26px;
        }
      }
      .actions {
        background: #868686;
        padding: 6px 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        .share_button, .flag_button {
          width: 200px;
          padding: 5px 0;
          color: #565656;
          cursor: pointer;
          &:hover {
            background: #f5f5f5;
            color: #666;
            box-shadow: inset 0 0 4px 0 #ccc;
          }
        }
      }
      .direction {
        .map_canvas {
          width: 320px;
          height: 200px;
          padding-right: 10px;
        }
        .map_description {
          width: 178px;
          .distance {
            margin-bottom: 5px;
          }
          .jump_to_nearby_outlet_button {
            text-align: center;
            font-size: 11px;
            width: 80px;
            padding: 6px;
          }
        }
      }
    } 
  }
}