@import "bootstrap"

@import "partials/shared"

@import "partials/local/foods"

@import "messages"

@import "footer"

@import "invitation"


input.sb
  width: 27px
  height: 23px
  margin-right: 3px

form.clssss
  input
    width: 140px
    border: 2px solid #ada28f
  input.sb
    width: 27px
    padding-left: 5px
    border: none



.container
  width: auto

ul.album
  li.draggable
    display: block
    width: 200px
    height: 235px
    float: left
    background: url(/assets/block_back.png) no-repeat 0 0
    overflow: hidden
    list-style-type: none
    margin: 0 14px 0 0
    .album_photos_container
      padding: 9px
      img
        border: none
        padding: 0 0px 3px 0

    .album_header
      height: 34px
      position: relative
      .rename
        display: none
        form
          input
            width: 150px
            padding: 2px
            margin: 4px 0 0 7px
            color: #ADA28F
          input.submit
            width: 22px
            height: 22px
            padding-left: 0px
            margin-left: 0px
      .album_destroy
        position: absolute
        right: 8px
        top: 6px
        cursor: pointer
      .album_options
        position: absolute
        right: 28px
        top: 6px
        cursor: pointer

      .header_text
        color: #df5941
        font-size: 14px
        font-weight: normal
        padding: 7px 7px 7px 9px
        a
          color: #DF5941