#footer {
  color: #ADA28F;
  font-size: 13px;
  text-align: center;
  a {
    color: #ADA28F;
  }
  
  ul {
    clear:both;
    list-style: none;
    margin: 0 0 5px 0;
    overflow: hidden;
    
    
    li, li a {
      // float: left;
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
    }//li
  }//ul
}//#footer