.foodies_wrapper, .inbox_wrapper {
  .search_foodies, .search_messages {
    background: #f6f6f6;
    padding: 6px 20px;
    border-bottom: 1px solid #eee;
    input {
      background: url(/assets/icon-search-16.png) no-repeat #fff;
      background-position: 10px 6px;
      padding-left: 32px;
      width: 495px;
      -webkit-transition: background-position 0.3s;
      -moz-transition: background-position 0.3s;
      -o-transition: background-position 0.3s;
      transition: background-position 0.3s;
      &:focus {
        background-position: 10px -19px;
        border: 1px solid #D5F0F2;
        -webkit-box-shadow: 0 0 5px 0 #D5F0F2;
        -moz-box-shadow: 0 0 5px 0 #D5F0F2;
        box-shadow: 0 0 5px 0 #D5F0F2;
      }
    }
  }
  ul.foodies, ul.inbox {
    li {
      padding: 10px 0;
      margin: 0 20px;
      border-bottom: 1px solid #F8F8F8;
      .thumbnail {
        width: 50px;
        margin-right: 10px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .name {
        width: 365px;
        margin-right: 10px;
        font-weight: bold;
        color: #36C;
      }
      .action {
        button {
          width: 90px;
        }
      }
    }
  }
}