.facebook_signup {
  background: url(/assets/facebook.png) no-repeat;
  background-position: -12px 0;
  width: 330px;
  height: 82px;
  cursor: pointer;
  border: none;
  outline: none;
}

#landing_background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  img {
    min-width: 100%;
    min-height: 100%;
  }
}

#landing_banner {
  border-top: 1px solid #f5f5f5;
  margin-right: 10px;
  .intro_section {
    width: 400px;
    border-left: 1px solid #868686;
    padding: 4px 0 15px 20px;
    margin-top: 80px;
    margin-bottom: 60px;
    #intro_description {
      margin-bottom: 10px;
      padding: 15px 15px 20px;
      .transparent_background {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.2;
        top: 0;
        left: 0;
        z-index: 1;
      }
      h2 {
        color: #92D050;
        text-shadow: 0 1px #444;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
      }
    }
    h1 {
      color: #fff;
      margin-bottom: 10px;
      font-style: italic;
    }
    h3 {
      color: #0070C0;
      font-size: 20px;
      margin-bottom: 6px;
      text-shadow: 0 1px #333;
    }
  }
}

.language_bar {
  bottom: 30px;
  line-height: 29px;
  padding-left: 10px;
  span {
    background: #fff;
    margin-left: 10px;
    a {
      padding: 0 10px;
    }
  }
}

.followToggle ul {
  background-color:#fff;
	&:before {
		content: "";
		border: 7px solid transparent;
		border-right: 7px solid #000;
		position: absolute;
		top: 20px;
		left: -14px;
	 }
	
}
