
.icn-invite {
  color: #75635B;
  font-size: 18px;
  text-shadow: 0px 1px 0px white;
  margin-bottom: 12px;
  background: transparent url(/assets/icon-invite.png) no-repeat 0 50%;
  padding-left: 24px;
  
}

.stream_invitation {
font-size: 13px;
background: white;
padding: 10px;
width: 594px;
height: auto;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
overflow: hidden;
position: relative;

}
.email_invi{
  margin-left:120px
}
input#invites_email_{
  width:394px;
  height:35px;
  
}
textarea#invites_note{
   width:394px;
  height:125px;
}
.icon_emails{
  background: url(/assets/icons/Email-Icon.jpg) no-repeat;

font-weight: inherit;
font-style: inherit;
font-size: 1em;
font-family: inherit;
vertical-align: baseline;
padding-left: 24px;

}
.email_button {
  background-color:#DF5941;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#fafafa;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px 0px 0px #70706f;

}

