.notifications, .activities {
  .container {
    margin-bottom: 50px;
  }

  .profile-image-size {
    width: 40px;
    height: 40px;
  }

  .left-container {
    margin-top: 46px;
    width: 628px; 
    float: left;
    .heading {
      font-size: 20px;
      img {
        margin-right: 10px;
      }
    }
    .link {
      color: #df5941;
      font-weight: bold;
      text-decoration: none;
    }
    .notified-time {
      color: #ada28f;
    }
    img {
      margin-right: 15px;
      vertical-align: top;
      float: left;
    }
  }
  .heading {
    font-weight: bold; 
    font-size: 15px;
    color: #75635b;
  }

  .notifications-list {
    background-color: #fdfcfa;
    margin-top: 16px;
    padding: 0 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    .profile-image {
      border: 1px solid #F3F2F0;
      padding: 3px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .list-item {
      padding: 15px 0;
      border-bottom: 2px dotted #e1ddd6;
      
      .small-tag-icon {
        width: 20px;
        height: 20px;
      }
      
      .message {
        float: left;
        width: 84%;
        color: #544740;
      }

      &:last-child {
        border: none;
      }
    }
  }
  
  .right-container {
    margin: 62px 0 0 20px;;
    float: left;
    .related-food-lovers-container {
      margin-top: 10px;
      .related-food-lovers-list {
        .profile-image {
          border: 3px solid white;
        }
        margin-bottom: 10px;
        a {
          margin: 0 80px 0 5px;
          font-size: 15px;
          font-weight: bold;
          color: #DF5941;
          vertical-align: middle;
          text-decoration: none;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .pagination {
    .current, .gap {
      float: left;
      padding: 0 14px;
      line-height: 34px;
      color: white;
      font-weight: bold;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      margin-left: 2px;
    }
    .current {
      background-color: #644f46;
    }
    a, .gap {
      background-color: #ada28f;
    }
    a {
      color: white;
      font-weight: bold;
      border: none;
      margin-left: 2px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  }
}
