.dialog_overlay {
  background: url('/assets/dialog_overlay_bg.png');
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.dialog {
  display: none;
  background: url('/assets/dialog_bg.png');
  box-shadow: 0 0 6px #999;
  border-radius: 2px;
  position: absolute;
  min-width: 540px;
  z-index: 101;
  
  .header {
    border-bottom: 1px dashed #CDCCCA;
    color: #DD523D;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    
    .close {
      background: url('/assets/icons/dialog_close.png');
      cursor: pointer;
      height: 15px;
      width: 15px;
    }//.close
  }//.header
  
  .content {
    color: #504846;
    padding: 15px;
  }//.content
  
  .actions {
    list-style: none;
    margin: 0 15px 12px 0;
    overflow: hidden;
    
    .action {
      border-radius: 2px;
      font-weight: bold;
      float: right;
      line-height: 30px;
      margin-left: 10px;
      
      a {
        color: white;
        cursor: pointer;
        display: block;
        padding: 0 25px;
        text-decoration: none;
        text-shadow: 0 1px 0 #888179;
      }
      
      &.cancel {
        background: url('/assets/dialog_cancel_bg.png') repeat-x;
        border: 1px solid #ABA597;
      }//&.cancel
      
      &.delete {
        background: url('/assets/dialog_delete_bg.png') repeat-x;
        border: 1px solid #D13A29;
      }//&.cancel
    }//.action
  }//.actions
  
  .footer {
    border-top: 1px dashed #CDCCCA;
    color: #95877A;
    font-style: italic;
    padding: 10px 15px;
  }//.footer
}//.dialog





.photos_wrapper {
  
  
  .label_large {
    background: url('/assets/icons/album_icon.png') no-repeat left center;
    color: #75635B;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    overflow: hidden;
    padding-left: 20px;
    text-shadow: 0 2px 0 white;
    width: 600px;
    
    .title {
      form {
        float: left;
        margin: 0;
        width: 400px;
      }//form
      
      .text {
        color: #ADA28F;
        border-color: #BFBEBC;
        height: 15px;
        padding: 4px;
        margin: 0;
      }//input
      
      .submit {
        background: #DF5941 url('/assets/icons/title_edit_ok_button.png') center center;
        border: 1px solid #D1372B;
        cursor: pointer;
        height: 23px;
        width: 26px;
      }
    }//.title
    
    .actions {
      float: right;
      list-style: none;
      margin: 0;

      .action {
        cursor: pointer;
        float: left;
        height: 16px;
        margin-left: 10px;
        width: 16px;

        &.edit {
          background: url('/assets/icons/action_edit.png');
          &:hover {
            background: url('/assets/icons/action_edit_hover.png');
          }//&:hover
        }//&.edit

        &.delete {
          background: url('/assets/icons/action_delete.png');
          &:hover {
            background: url('/assets/icons/action_delete_hover.png');
          }//&:hover
        }//&.delete

      }//.action

    }//.actions
  }//.label_large
  
  .album {
    margin: 0 0 200px 0;
    overflow: hidden;
    .column {
      float: left;
      margin: 0;
      // .title {
        // font-weight: bold;
        // color: #36C;
      // }
    }
    $photo_img_width: 180px;
    .photo {
      background: white;
      box-shadow: 0 2px 2px #ccc;
      border-radius: 2px;
      float: left;
      margin-bottom: 15px;
      margin-right: 15px;
      overflow: hidden;
      
      .photo_thumbnail {
        img {
          margin: 10px;
          width: $photo_img_width;
        }
        
      }//.photo_thumbnail
      
      .reppined {
        background: url("/assets/icons/post_pin.png") no-repeat left 5px;
        color: #ADA28F;
        line-height: 1.2em;
        margin: 0 10px 10px 10px;
        padding-left: 12px;
        width: $photo_img_width - 12px;
        
        .user a,
        .album a {
          color: #DD523D;
          font-weight: bold;
        }
      }//.reppined
      
      .actions {
        background: url('/assets/bg_photo_actions.png') repeat-x;
        color: #ADA28F;
        height: 32px;
        list-style: none;
        margin: 0;
        
        .action {
          float: left;
          line-height: 32px;
          margin-left: 10px;
          padding-left: 14px;
          
          &.like { background: url('/assets/icons/post_like.png') no-repeat left center; }
          &.comment { background: url('/assets/icons/post_comment.png') no-repeat left center; }
          &.share { background: url('/assets/icons/post_share.png') no-repeat left center; }
          &.pin { background: url('/assets/icons/post_pin.png') no-repeat left center; }
        }//.action
      }//.actions
      
      // > div {
        // width: 130px;
        // height: 130px;
        // display: inline-block;
        // margin-bottom: 4px;
        // margin-right: 3px;
        // vertical-align: top;
        // .photo_thumbnail {
          // width: 130px;
          // height: 130px;
          // cursor: pointer;
          // position: relative;
          // z-index: 1;
          // img {
            // -webkit-border-radius: 2px;
            // -moz-border-radius: 2px;
            // border-radius: 2px;
          // }
        // }
        // .photo_thumbnail:hover {
          // z-index: 2;
          // img {
            // position: absolute;
            // width: 140px;
            // height: 140px;
            // top: -5px;
            // left: -5px;
            // -webkit-box-shadow: 0 1px 5px 0 #222;
            // -moz-box-shadow: 0 1px 5px 0 #222;
            // box-shadow: 0 1px 5px 0 #222;
          // }
        // }
      // }
    }
    
    .more {
      .more_button {
        line-height: 26px;
      }
    }
  }//.album
}
