ul.post_wrapper {
  padding: 0 20px 15px;
  .photo {
    background: #fafafa;
  }
  .poster {
    .poster_thumbnail {
      a {
        img {
          width: 38px;
          height: 38px;
        }
      }
    }
    .poster_message {
      .name {
        font-weight: bold;
        color: #36C;
        margin-bottom: 3px;
      }
    }
  }
  .interactions {
    .comments_wrapper {
      width: 340px;
      font-size: 12px;
      .actions {
        a {
          cursor: pointer;
          text-transform: capitalize;
        }
        .time_count {
          color: #868686;
        }
      }
      .comment_field {
        .comment_input {
          width: 319px;
        }
      }
      ul.comments {
        li {
          background: #D5F0F2;
          padding: 4px;
          margin-bottom: 1px;
          -webkit-transition: background 0.6s;
          -moz-transition: background 0.6s;
          -o-transition: background 0.6s;
          transition: background 0.6s;
        }
        li.new {
          background: #CCFF99;
        }
        .status {
          position: relative;
        }
        .comment_entry {
          .commentor {
            img {
              width: 24px;
              height: 24px;
              margin-right: 4px;
            }
          }
          .comment_message {
            line-height: 1.4em;
            width: 300px;
            .commentor_name {
              font-weight: bold;
              color: #36C;
            }
          }
          .time_count {
            color: #868686;
          }
        }
      }
    }
    .further_actions {
      width: 178px;
      .category {
        .label {
          width: 60px;
        }
        .content {
          width: 110px;
        }
      }
    }
  }
}


.posts.show {
  .comments {
    padding: 10px 0;

    .comment {
      padding: 0 10px;

      img {
        border: 4px solid white;
      }
    }//.comment
  }//.comments
}

