#profile_bar ul {
  margin-bottom: 15px;
}

ul.indoor_profile {
  li.profile_pic {
    margin-bottom: 20px;
    .thumbnail {
      img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
    }
    .name {
      font-size: 16px;
    }
  }
  li.option {
    a {
      font-size: 13px;
      line-height: 29px;
      width: 155px;
      padding-right: 15px;
      padding-left: 15px;
      margin-top: -1px;
      .notifier {
        margin-top: 8px;
        text-align: center;
        padding: 0 3px;
        line-height: 14px;
        font-size: 11px;
        color: #fff;
        background: #60C3CA;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }
      &:hover {
        text-decoration: none;
        background: #f5f5f5;
      }
    }
    a.current {
      font-weight: bold;
      color: #DD4B39;
    }
  }
}

ul.followers, ul.following, ul.follow_categories, ul.promoted, ul.featured {
  .label_medium {
    color: #92D050;
    font-weight: bold;
  }
  li {
    margin-bottom: 6px;
  }
  .thumbnail_box {
    a {
      margin-bottom: 4px;
      img {
        width: 34px;
        height: 34px;
      }
    }
  }
  .view_all {
    font-size: 11px;
    color: #DD4B39;
  }
  .category {
    color: #868686;
    padding-left: 6px;
  }
}