.profile
  margin: 0 auto
  width: 845px
  
  > .user
    background: image_url("user-profile/header-user-icon.png") no-repeat left center
    color: #75635B
    padding-left: 20px
    font-size: 17px
    font-weight: normal
    text-shadow: 0 1px 0 white

  table.profile-header
    margin-bottom: 20px
    width: 100%

    thead
      background: image_url("user-profile/profile-header-head-bg.png") repeat-x 0 0

      th
        color: #878570
        font-size: 11px
        height: 18px
        padding: 0 10px
        text-align: center
        text-shadow: 0 1px 0 white
        text-transform: uppercase

        &.level
          text-align: left

    tbody
      background: #D9D0C1 image_url("user-profile/profile-header-body-bg.png") repeat-x 0 0
      
      td
        color: #54473F
        font-size: 26px
        font-weight: bold
        height: 26px
        padding: 8px 20px
        position: relative
        text-align: center
        text-shadow: 0 1px 0 white

        &.level
          width: 225px
          text-align: left

        .progress-bar
          background: white
          border-radius: 2px
            -moz-border-radius: 2px
            -webkit-border-radius: 2px
          box-shadow: 0 1px 2px #aaa
          height: 13px
          overflow: hidden
          position: absolute
          right: 20px
          top: 19px
          width: 200px
          
          .bar
            border-top-left-radius: 2px
            border-bottom-left-radius: 2px
              -moz-border-radius-topleft: 2px
              -moz-border-radius-bottomleft: 2px
              -webkit-border-top-left-radius: 2px
              -webkit-border-bottom-left-radius: 2px
            box-shadow: inset 0 0 5px #D84D36
              -moz-box-shadow: inset 0 0 5px #D84D36
              -webkit-box-shadow: inset 0 0 5px #D84D36

            &.p30
              background: #E05A41
              height: 13px
              width: 30%

        .badge
          background: none
          height: 32px
          padding: 0
          width: 32px
          
          img
            height: 32px
            width: 32px

  .profile-banner
    border-radius: 4px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
    height: 313px
    margin-bottom: 20px
    
    
    .img
      border-top-left-radius: 4px
        -moz-border-radius-topleft: 4px
        -webkit-border-top-left-radius: 4px
      border-bottom-left-radius: 4px
        -moz-border-radius-bottomleft: 4px
        -webkit-border-bottom-left-radius: 4px
      float: left
      position: relative
      width: 630px
      

      img
        border-top-left-radius: 4px
          -moz-border-radius-topleft: 4px
          -webkit-border-top-left-radius: 4px
        border-bottom-left-radius: 4px
          -moz-border-radius-bottomleft: 4px
          -webkit-border-bottom-left-radius: 4px
        height: 313px
        width: 630px

      .user-description
        background-color: rgba(0,0,0,0.6)
        border-bottom-left-radius: 4px
          -moz-border-radius-bottomleft: 4px
          -webkit-border-bottom-left-radius: 4px
        bottom: 0
        color: white
        font-weight: bold
        left: 0
        position: absolute
        padding: 20px 10px
        width: 610px

      /* Same style for .change-profile-avatar */
      .change-profile-cover
        color: #6C615D
        background: image_url("user-profile/change-button-bg.png") repeat-x 0 0
        border: 1px solid #D6D3CC
        border-radius: 2px
          -moz-border-radius: 2px
          -webkit-border-radius: 2px
        display: none
        height: 22px
        line-height: 22px
        position: absolute
        top: 50%
        left: 235px
        text-align: center
        text-decoration: none
        text-shadow: 0 1px 0 white
        width: 160px

    .right-side
      background: white
      border-top-right-radius: 4px
        -moz-border-radius-topright: 4px
        -webkit-border-top-right-radius: 4px
      border-bottom-right-radius: 4px
        -moz-border-radius-bottomright: 4px
        -webkit-border-bottom-right-radius: 4px
      color: #ADA28F
      float: left
      height: 313px
      padding: 0 15px
      position: relative
      width: 185px

      .user-avatar-wrapper
          
        .user-avatar
          border: 5px solid white
          box-shadow: 0 1px 3px #ccc
          height: 175px
          width: 175px
          margin-top: -5px

        /* Same style for .change-profile-cover */
        .change-profile-avatar
          color: #6C615D
          background: image_url("user-profile/change-button-bg.png") repeat-x 0 0
          display: none
          border: 1px solid #D6D3CC
          border-radius: 2px
            -moz-border-radius: 2px
            -webkit-border-radius: 2px
          height: 22px
          line-height: 22px
          position: absolute
          top: 147px
          left: 26px
          text-align: center
          text-decoration: none
          text-shadow: 0 1px 0 white
          width: 160px

      .from
        padding: 5px 0
        border-bottom: 1px dashed #CDCCCA

      .action
        a
          position: absolute
          bottom: 15px
          color: white
          cursor: pointer
          font-weight: bold
          height: 42px
          line-height: 42px
          right: 15px
          text-align: center
          text-decoration: none
          text-shadow: 0 1px 0 #A43F37
          
          &.follow,
          &.edit
            background: #DD553F
            border: 1px solid #D43925
            border-radius: 2px
              -moz-border-radius: 2px
              -webkit-border-radius: 2px
            width: 185px
           

          img
            margin-top: -5px
            
            
  .profile-nav
    background: image_url("user-profile/profile-nav-bg.png") repeat 0 0
    border-radius: 4px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
    box-shadow: 0 1px 2px #ccc
    margin: 0
    margin-bottom: 20px
    overflow: hidden
    width: 100%

    li
      border-right: 1px dashed #301C15
      float: left
      list-style: none
      height: 50px
      line-height: 50px

      &:hover,
      &.active
        background: image_url("user-profile/profile-nav-bg-active.png") repeat 0 0

        a
          color: white
        

      a
        display: block
        color: #EBD099
        cursor: pointer
        font-weight: bold
        padding: 0 10px
        text-decoration: none
        text-shadow: 0 1px 1px #444

  .profile-content
  
    .two-sides-panel
      border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
      box-shadow: 0 0 5px #aaa
      overflow: hidden
      
      > .left
        background: white
        float: left
        width: 630px

        > .inner
          margin: 15px
      //.left
      
      > .right
        background: #F4EFE9
        
        float: left
        width: 215px
      //.right
      
    // Activities
    .two-sides-panel.activities
      > .left
        h3
          color: #54473F
          font-size: 14px
          margin-top: 30px

          &:first-child
            margin-top: 0

        .activities-list
          margin: 0
          
          li
            color: #333
            border-bottom: 1px dashed #D0CFCB
            list-style: none
            overflow: hidden
            padding: 10px 0

            .time
              color: #B2AB9B
              float: left
              width: 80px

            .message
              float: left

            a
              color: #DF5941
              font-weight: bold
      > .right
        
        .year
          color: #54473F
          font-size: 14px
          font-weight: bold
          padding: 15px 15px 0 15px

        .month-list
          margin: 0
          
          li
            color: #333
            list-style: none
            overflow: hidden
            padding: 3px 15px

            &:hover
              background: #FDFCFA

            a
              color: #DF5941
              display: block
              font-weight: bold
              text-decoration: none
    // End Activities

    // About
    .two-sides-panel.about
      > .left
        h3
          border-bottom: 1px dashed #D0CFCB
          color: #54473F
          font-size: 14px
          margin-top: 15px
          padding-bottom: 5px

        .description
          margin-top: 10px
          margin-bottom: 30px

        a
          color: #DF5941


      > .right
        .inner
          margin: 15px
          
          h3
            color: #54473F
            font-size: 14px
            padding-bottom: 5px

          .social-list
            margin: 0

            li
              list-style: none
              font-size: 13px
              height: 32px
              margin-bottom: 10px

              img
                margin-right: 10px
                height: 32px
                width: 32px

              a
                color: #DF5941
                display: block
                font-weight: bold
                text-decoration: none
    // End About

    // Badges
    .one-side-panel.badges
      background: white
      border-radius: 4px
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
      box-shadow: 0 0 5px #aaa
      overflow: hidden
      
      .inner
        margin: 15px

        h3
          border-bottom: 1px dashed #D0CFCB
          color: #54473F
          font-size: 14px
          margin-bottom: 10px

          &.locked
            margin-top: 30px

        .profile-bages
          margin: 0
          overflow: hidden

          li.profile-badge
            list-style: none
            float: left
            overflow: hidden
            padding: 5px 0
            width: 395px

            img
              float: left
              height: 60px
              margin-right: 15px
              width: 60px

            .data
              float: left
              margin-top: 10px

              h4
                color: #54473F

              .date
                color: #ADA28F
                font-size: 12px
                
          &.locked //profile-badges
            h4
              color: #646464 !important
    // End Badges

    // Subscription
    .one-side-panel
      background: white
      overflow: hidden
      
      .inner
        margin: 15px
        
        .subscriptions-list
          margin: 0
          
          > li
            border-bottom: 1px dashed #CFCECC
            list-style: none
            overflow: hidden
            padding: 15px 0

            &:first-child
              padding-top: 0

            > img
              float: left
              height: 148px
              width: 300px
              margin-right: 15px

            .data
              float: left

              h3
                color: #DF5941
                font-weight: bold

              .date
                color: #A9A490
                font-size: 12px
                
              .content
                margin: 12px 0

                ul
                  margin: 0

                  li
                    list-style: none

              .unsubscribe
                background: image_url("user-profile/unsbscribe-button-bg.png") repeat-x 0 0
                border: 1px solid #A3A3A3
                border-radius: 2px
                  -moz-border-radius: 2px
                  -webkit-border-radius: 2px
                color: white
                display: block
                float: left
                font-size: 14px
                font-weight: bold
                height: 40px
                line-height: 40px
                text-align: center
                text-decoration: none
                text-shadow: 0 1px 0 #7C7C7C
                width: 185px

                img
                  margin-right: 5px
            
    // End Subscription

    // Followers and Following
    .two-sides-panel.followers,
    .two-sides-panel.following
      border-radius: 0
        -moz-border-radius: 0
        -webkit-border-radius: 0
      box-shadow: none
      overflow: hidden
      
      > .left
        background: none

        .user-follow
          background: white
          box-shadow: 0 1px 2px #ccc
          float: left
          margin-bottom: 10px
          margin-right: 10px
          overflow: hidden
          width: 200px

          .inner
            height: 42px
            margin: 10px

            a.img
              border: 2px solid white
              box-shadow: 0 1px 2px #ccc
              display: block
              height: 38px
              float: left
              margin-right: 10px
              width: 38px
              
              img
                height: 36px
                width: 36px
                
            .data
              float: left
              width: 95px

              .username
                color: #DF5941
                font-weight: bold

              .location
                color: #ADA28F

            .action
              float: right

              a
                border: 1px solid #A39A8B
                border-radius: 2px
                  -moz-border-radius: 2px
                  -webkit-border-radius: 2px
                cursor: pointer
                display: block
                height: 19px
                margin-top: 11px
                width: 26px

              .add
                background: #BDB2A0 image_url("user-profile/add-bg.png") no-repeat center center
                
                cursor: pointer

                &:hover
                  background-color: #DF5941
                  border-color: #D43925

                &.added,
                &.added:hover
                  background-color: #8BAF65
                  border-color: #769D5A

              .remove
                background: #BDB2A0 image_url("user-profile/remove-bg.png") no-repeat center center

                &:hover
                  background-color: #DF5941
                  border-color: #D43925

              .subscribed
                background: #81A55D image_url("user-profile/subscribed-bg.png") no-repeat center center
                border-color: #7C9C5D



        
      > .right
        background: none

        h3
          color: #54473F
          font-size: 14px
          text-shadow: 0 1px 0 white

        .food-lovers-list
          margin: 0

          li
            list-style: none
            margin-bottom: 5px
            overflow: hidden

            a.img
              border: 2px solid white
              display: block
              float: left
              height: 36px
              margin-right: 10px
              width: 36px
              
              img
                height: 36px
                width: 36px

            .username
              color: #DF5941
              float: left
              font-weight: bold
              line-height: 38px
              text-decoration: none
              text-shadow: 0 1px 0 white
              width: 110px

            .add
              background: #BDB2A0 image_url("user-profile/add-bg.png") no-repeat center center
              border: 1px solid #A39A8B
              border-radius: 2px
                -moz-border-radius: 2px
                -webkit-border-radius: 2px
              cursor: pointer
              display: block
              float: right
              height: 19px
              margin-top: 9px
              width: 26px

              &:hover
                background-color: #DF5941
                border-color: #D43925


    // End Followers