body.sessions {
  background: #97E1F2;
  #small_wrapper {
    width: 300px;
    margin: 60px auto 30px;
    background: #fff;
    padding: 20px 20px 30px;
    border: 1px solid #4CAFC9;
    box-shadow: 0 1px 4px 0 #4CAFC9;
    .label_small {
      color: #ccc;
      margin: 5px 0;
    }
    h1 {
      font-size: 18px;
      text-align: center;
      border-bottom: 1px solid #cecece;
      padding-bottom: 10px;
      margin-bottom: 15px;
      color: #666;
      font-weight: normal;
    }
    .medium_input {
      margin-bottom: 5px;
      -webkit-box-shadow: inset 0 1px 2px 0 #eee;
      -moz-box-shadow: inset 0 1px 2px 0 #eee;
      box-shadow: inset 0 1px 2px 0 #eee;
      &:focus {
        border: 1px solid #B2EAF7;
        -webkit-box-shadow: 0 0 3px 0 #B2EAF7;
        -moz-box-shadow: 0 0 3px 0 #B2EAF7;
        box-shadow: 0 0 3px 0 #B2EAF7;
      }
    }
    .signup_button {
      padding: 5px 20px;
      font-weight: normal;
      font-size: 14px;
    }
  }
  label.error {
    color: red;
    font-size: 11px;
    margin-bottom: 10px;
    display: block;
  }
}