ul.promoted, ul.featured {
  li {
    margin-bottom: 10px;
  }
  h4 {
    margin-bottom: 5px;
    color: #93CDDD;
  }
  .promoted_item {
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
  }
  .promoted_preview, .featured_item {
    .photo {
      margin-right: 8px;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .abstract {
      width: 106px;
      font-size: 12px;
      line-height: 1.4em;
    }
  }
}

ul.promoted li:last-child {
  border: none;
}