iframe.posting_canvas {
  height: 165px;
}

form.new_post {
  width: 552px;
  min-height: 100px;
  border: 1px solid #ccc;
  margin: 0 10px 15px;
  .barrier_10 {
    padding: 10px 0;
  }
  .post_error {
    background: #000;
    color: #fff;
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 4px 12px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: none;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-right: 4px solid #000;
      position: absolute;
      left: -8px;
      top: 7px;
    }
  }
  #post_message {
    width: 522px;
    border: none;
    padding: 0 15px 10px;
    margin-bottom: 10px !important;
    line-height: 29px;
    border-bottom: 1px dashed #D5F0F2;
    color: #868686;
    &:focus {
      color: #4D4D4D;
    }
  }
  .post_image_cage {
    padding: 0 15px;
    .label_medium {
      color: #868686;
      margin-bottom: 5px;
    }
  }
  .label_small {
    margin-bottom: 5px;
  }
  label.error {
    color: red;
    padding-left: 15px;
  }
  .extension {
    height: 37px;
    span {
      float: left;
      width: 37px;
      height: 37px;
      border-right: 1px solid #ccc;
      cursor: pointer;
      background: url(/assets/icon-tags.png) no-repeat;
    }
    .place {
      background-position: -6px 0;
      &:hover {
        background-position: -6px -32px;
      }
    }
    .people {
      background-position: -69px 0;
      &:hover {
        background-position: -69px -32px;
      }
    }
    .tags {
      background-position: -124px 0;
      &:hover {
        background-position: -124px -32px;
      }
    }
  }
  .post_button {
    padding: 6px 20px 5px;
    margin: 5px 10px;
  }
  .post_loading {
    position: absolute;
    bottom: 10px;
    right: 115px;
    display: none;
  }
  .barrier {
    background: #f8f8f8;
  }
}

.post_content {
  width:560px;
  border-bottom: 1px solid #F8F8F8;
  padding-bottom:15px;
  .picture_pane {
    width: 35px;
    margin:10px;
    img {
      width: 35px;
      height: 35px;
      border:2px solid #fff;
    }
  }
  ul.news_pane {
    width:480px;
    .name, .text_message, .status_update, .location {
      margin-bottom: 5px;
      text-align:justify;
      a {
        font-weight: bold;
        font-size: 13px;
        color: #36C;
      }
    }
    .food_tag img {
      padding-bottom:2px;
    }
    .food_tag li {
      float:left;
      color:#75635b;
      font-size:12px;
      min-width:60px;
      background-color:#f1ece3;
      padding:3px 10px;
      display:block;
      margin:10px 0;
    }
    .food_tag li + li {
      margin-left:5px;
    }
    .resize_img {
      width:10px;
      height:10px;
      marign-left:5px;
    }
    .paperclip_img {
      height:47px;
      margin:-20px 0 0 10px;
      position:relative;
    }
    .album_name {
      font-size:14px;
      padding-top:10px;
      text-align:center;
    }
    .image_message {
      width:380px;
      margin-top:10px;
      background-color:#f7f4ef;
      padding:15px;
      a {
        img {
          width: 380px;
          height: 280px;
          margin-top:-28px;
        }
      }
    }
    .counter {
      margin: 5px 0;
      color: #868686;
      a {
        cursor: pointer;
        text-transform: capitalize;
      }
    }
    .respond {
      position: relative;
      margin: 0 0 5px;
      background: #D5F0F2;
      font-weight: bold;
      padding: 4px 10px;
      display: inline-block;
      a.like_count {
        padding-left: 21px;
        background: url(/assets/icon-heart-small.png) no-repeat;
      }
      a.comment_count {
        padding-left: 21px;
        margin-left: 10px;
        background: url(/assets/icon-comment-small.png) no-repeat;
      }
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 7px;
        background: url(/assets/arrow-up-blue.png) no-repeat center center;
        top: -5px;
        left: 13px;
      }
    }
    .album_name {
      margin-top:5px;
      color:#dc4b13;
    	font-family:"OpenSans-Bold";
    }
  }
}

.post_content:hover .action_button {
  display: block;
}

.post_action {
  width:500px;
  padding:10px 0 7px 60px;
  background-color:#f7f4ef;
  border-top:1px dashed #ada28f;
  .left_post_action {
    width:400px;
    float:left;
    a.post_unlike .action_label{
      color:#df5941;
    }
    a {
      img {
        float:left;
        margin-right:5px;
      }
      .action_label {
        color:#ada28f;
        font-size:16px;
        line-height:16px;
        float:left;
        margin:-2px 0 0 5px;
      }
    }
  }
  .left_post_action li, .right_post_action li {
    display:inline-block;
  }
  .left_post_action li + li {
    margin-left:15px;
  }
  .left_post_action a {
    float:left;
  }
  .right_post_action {
    width:70px;
    float:left;
  }
  .right_post_action li {
    float:right;
  }
}
.post_comment {
  width:537px;
  margin-top:-2px;
  padding:0 5px;
}
ul.comments {
  /*position: relative;*/
  margin-top:0;
/*  &:before {
    content: "";
    border: 4px solid transparent;
    border-bottom: 4px solid #D5F0F2;
    position: absolute;
    top: -8px;
    left: 15px;
  }*/
  li {
    background: #75635b;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
  }
  li.new {
    background: #CCFF99;
  }
  .status {
    position: relative;
  }
  .comment_entry {
    .commentor {
      img {
        width: 28px;
        height: 28px;
        margin:5px 0 5px 5px;
        border:1px solid #fff;
      }
    }
    .comment_message {
      width: 332px;
      margin-left:10px;
      color:#f4f0e9;
      line-height: 1.4em;
      span, a {
        display: inline;
      }
      .commentor_name {
        font-weight: bold;
        color: #f1d29e;
        padding-right: 6px;
      }
    }
    .footer {
      color: #beb19e;
      font-size: 11px;
    }
  }
  img.unlike_icon {
    width:10px;
    height:10px;
  }
}
ul.comments li:nth-child(even){
  background:#67544c;
}

.comment_field {
  background: #75635b;
  border-top:1px dashed #ada28f;
  padding:5px 5px 10px 5px;
  img {
    width: 28px;
    height: 28px;
    border:1px solid #fff;
  }
  .comment_input {
    outline: none;
    background-color:#523f37;
    height: 20px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px 0 #75635b;
    -moz-box-shadow: inset 0 1px 2px 0 #75635b;
    box-shadow: inset 0 1px 2px 0 #75635b;
    margin-left:10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .comment_input:focus {
    height: 30px;
    border: 1px solid skyBlue;
    -webkit-box-shadow: 0 0 3px 0 skyBlue;
    -moz-box-shadow: 0 0 3px 0 skyBlue;
    box-shadow: 0 0 3px 0 skyBlue;
    -webkit-transition: height 0.1s;
    -moz-transition: height 0.1s;
    -o-transition: height 0.1s;
    transition: height 0.1s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .user_image {
    width: 28px;
    height: 28px;
    margin:2px 0 0 3px;
    border:1px solid #fff;
  }
}

ul.comments li.status {
  padding-left: 30px !important;
  font-size: 11px;
  line-height: 18px;
  color: #666 !important;
}

ul.comments li.status:before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(/assets/icon-like.png) no-repeat center center;
  position: absolute;
  left: 6px;
}
ul.comments {
  width:530px;
}
.comment_field {
  width: 520px;
}
.comment_field .comment_input {
  width: 455px;
  margin-top:5px;
}
.action_button {
  display: none;
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url(/assets/arrow-down-blue.png) no-repeat center center skyBlue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  &:hover {
    background-color: #5E90A4;
  }
  .action_menu {
    position: absolute;
    display: none;
    right: -10px;
    top: 32px;
    width: 180px;
    padding: 5px;
    background: #D5F0F2;
    -webkit-box-shadow: 0 1px 4px 0 #ccc;
    -moz-box-shadow: 0 1px 4px 0 #ccc;
    box-shadow: 0 1px 4px 0 #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      top: -10px;
      right: 15px;
      background: url(/assets/arrow-up-blue.png) no-repeat center center transparent;
    }
    .button_gray {
      padding: 4px 0;
      width: 85px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
