
.fileinput-button {
  width: 190px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.clear {
	clear: both;
}

.loading{
  background-image: url(loading-message.gif);
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
}

#landing-background {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff url('ifl-landing.jpg') no-repeat 50% 0;
}

#guest-topbar {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background: transparent url('bg-guest-top.png') repeat-x 0 0;
	
	.topbar_logo {
		width: 260px;
		height: 59px;
		margin: 0 auto;
		background: transparent url('logo-topbar-guest.png') no-repeat 50% 50%;
		text-indent: -9999px;
	}
}

#guest-footer {
	font-size: 11px;
	color: #908679;
	text-shadow: 0px -1px 0px rgba(255,255,255,0.4);
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	text-align: center;
	a {
		color: #908679;
	}
}

#middle-content {
	position: absolute;
	top: 25%;
	width: 100%;
	h2.abovebutton {
		font-weight: normal;
		font-size: 18px;
		text-align: center;
		margin: 15px 0 10px 0;
		padding: 0;
		a {
			font-weight: bold;
			color: #dd5640;
		}
	}
	.facebook_signup {
		display: block;
		border: 0px none;
		width: 330px;
		height: 82px;
		background: transparent url('facebook.png') no-repeat 0 0;
		margin: 0 auto;
	}
	.form-foodlogin {
		.form-actions {
			background: transparent;
			border: 0px none;
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
	.login_box {
		width: 430px;
		padding: 25px;
		border-top: 3px solid #949b47;
		min-height: 200px;
		background: #fff;
		margin: 0 auto;
		
		box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
		.other_login {
			margin-top: 25px;
			text-align: center;
		}
		.language_bar {
			margin-top: 25px;
		}
		.bottom-dash {
			margin-top: 25px;
			width: auto;
			height: 1px;
			background: transparent url('login_dash.png') repeat-x 0 0;
		}
		
		h1 {
			height: 120px;
			background: transparent url('login-header.png') no-repeat 0 0;
			letter-spacing: -1px;
			font-size: 60px;
			line-height: 1;
			color: #949b47;
			letter-spacing: -1px;
			text-indent: -9999px;
		}
		
		p {
			font-size: 15px;
			line-height: 1.5;
			margin: 20px 0;
			padding: 20px 0 0;
			background: transparent url('login_dash.png') repeat-x 0 0;
			
			strong {
				font-weight: bold;
				color: #dd5640;
			}
		}
		button.facebook_signup_login {
			background: transparent url('fb-signin-btn.png') no-repeat -34px -50px;
			display: block;
			width: 100%;
			height: 90px;
			padding: 0;
			margin: 0;
			border: 0px none;
		}
	}
}

.stream_wrap {
	margin-bottom: 12px;
}

.stream_item {
	font-size: 13px;
	background: #fff;
	padding: 10px;
	width: auto;
	height: auto;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	// overflow: hidden;
	position: relative;
	background: url('bg/feed_body.png') repeat;
	.post-action {
		position: absolute;
		right: 10px;
		top: 10px;
		opacity: 0.5;
		
		&:hover {
			opacity: 1;
		}
		a {
			cursor: pointer;
		}
	}
	
	.users_pane {
		width: 46px;
		margin-right: 20px;
		float: left;
		
		img {
			border: 3px solid #fff;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
		}
		.profile_with-more {
			position: relative;
			a.popover-trigger {
				display: block;
				font-size: 10px;
				text-align: center;
				color: #75635b;
				padding: 0;
				margin: 0;
				background-color: #f1ece3;
				margin-top: 8px;
				line-height: 1;
				width: 52px;
				padding: 3px 0;
				
				&:hover {
					background-color: #dc533d;
					text-decoration: none;
					color: #fff;
				}
			}
			.popover-content {
				&:after {
					content: '';
					border: 8px solid transparent;
					border-right: 8px solid #fff;
					z-index: 4;
					position: absolute;
					display: block;
					left: -16px;
					top: 10px;
				}
				&:before {
					content: '';
					border: 8px solid transparent;
					border-right: 8px solid rgba(0,0,0,0.2);
					z-index: 3;
					position: absolute;
					display: block;
					left: -17px;
					top: 11px;
				}
				display: none;
				position: absolute;
				right: -190px;
				top: -10px;
				background: #fff;
				z-index: 4;
				width: 150px;
				margin: 0;
				padding: 5px 10px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				-o-border-radius: 2px;
				-ms-border-radius: 2px;
				border-radius: 2px;
				box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
				a {
					display: block;
					line-height: 24px;
					font-size: 12px;
					color: #75635b;
					font-weight: normal;
				}
			}
		}
		.profile_with {
			img + img {
				margin-top: 4px;
			}
			small {
				display: block;
				text-align: center;
				color: #ada28f;
				font-style: italic;
				font-size: 10px;
				line-height: 1;
				padding-top: 8px;
				text-indent: 5px;
			}
			a {
				margin-top: 4px;
				display: block;
				&:hover img {
					box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
				}
			}
			
		}
	}
	
	.content_pane {
		float: left;
		width: 520px;
		.content_tags {
			margin: 6px 0;
			li {
				display: block;
				float: left;
				margin-right: 4px;
				a {
					display: block;
					color: #75635b;
					background: #f1ece3 url('icon-stream-tag.png') no-repeat 6px 5px;
					padding: 4px 6px 4px 16px;
					line-height: 1;
					font-size: 12px;
					font-weight: normal;
				}
			}
		}

		

		.photo_frame {
			background: #f7f4ef;
			padding: 10px;
			box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
			position: relative;
			text-align: center;
			
			.image_wrapper{
			  width:500px;
			  height: 500px;
			  text-align: left;
			  overflow: hidden;
			}
			
			img.album-pic {
				max-width: 500px;
				max-height: 400px;
			}
			
			.album_clip {
				width: 13px;
				height: 37px;
				position: absolute;
				background: transparent url('icon-clip.png') no-repeat 0 0;
				top: -5px;
				left: 20px;
			}
			.album_name {
				font-size: 14px;
				text-align: center;
				padding: 15px 0 5px;
			}
		}
		
	}
	
	.content_bottom {
		background: #f4f0e9 url('separator-horizontal.png') repeat-x 0 0;
		margin: 20px -10px -10px -10px;
		-moz-border-radius: 0 0 2px 2px;
		-webkit-border-radius: 0 0 2px 2px;
		-o-border-radius: 0 0 2px 2px;
		-ms-border-radius: 0 0 2px 2px;
		border-radius: 0 0 2px 2px;
		padding: 10px 10px 10px 74px;
	}
	
	a {
		font-weight: bold;
		color: #dc4b13;
		
		&.stream_location {
			color: #ada28f;
			text-decoration: underline;
			font-size: 12px;
			background: transparent url('icon-stream-location.png') no-repeat 0 0;
			padding-left: 10px;
		}
	}
}

.show_more_beginning{
  background: #F7F4EF;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  color: #DC4B13;
}

#colorbox{
  background-color: rgb(247, 244, 239);
  border: 1px solid rgb(205,200,193);
  border-radius: 3px;
  padding: 20px !important;
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
  ul{
    margin: 0;
    list-style: none;
    label{
      color: #75635b;
    }
    
  }
  input[type=submit]{
    background-color: #DE563F;
    padding: 5px 10px;
    color: #FDFCFA;
    font-weight: bold;
    border: 1px solid #D33829;
    border-radius: 3px;
  }
  .image_message{
    img{
      height: 240px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

}

ul.post-meta {
	&.pull-left li {
		float: left;
		margin-right: 16px;
		width: auto;
	}
	&.pull-right li {
		float: right;
		width: auto;
		margin-right: 0;
	}
	margin: 0;
}

a.icons-posts {
	background: transparent url('icon-posts.png') no-repeat 0 0;
	line-height: 14px;
	height: 16px;
	display: block;
	padding: 0 0 0 22px;
	margin: 0;
	font-size: 11px;
	font-weight: normal;
	color: #ada28f;
	cursor: pointer;
	
	&:hover {
		text-decoration: none;
	}
	&.icon-time {
		background-position: 0 -160px;
		width: auto;
		padding-left: 22px;
		white-space: nowrap;
		margin-right: 16px;
	}
	&.icon-flag {
		width: 0;
		padding-left: 16px;
		background-position: 0 -128px;
		&:hover {
			background-position: 0 -144px;
			font-weight: bold;
			color: #df5941;
		}
	}
	&.icon-flagged {
		background-position: 0 -144px;
		font-weight: bold;
		color: #df5941;
	}
	
	&.icons-liked {
		background-position: 0 -16px;
		font-weight: bold;
		color: #df5941;
	}
	&.icons-unlike {
		&:hover {
			background-position: 0 -16px;
			font-weight: bold;
			color: #df5941;
		}
	}
	&.icon-comments {
		background-position: 0 -32px;
	}
	&.icon-promote {
		background-position: 0 -64px;
		&:hover {
			background-position: 0 -80px;
			font-weight: bold;
			color: #df5941;
		}
	}
	&.icon-promoted {
		background-position: 0 -80px;
		font-weight: bold;
		color: #df5941;
	}
	&.icon-reshare {
		background-position: 0 -96px;
		&:hover {
			background-position: 0 -112px;
			font-weight: bold;
			color: #df5941;
		}
	}
	&.icon-reshared {
		background-position: 0 -112px;
		font-weight: bold;
		color: #df5941;
	}
}

.stream_repost {
	
}


.flag_container::after {
content: '';
display: block;
position: absolute;
top: -23px;
left: 90px;
width: 0;
height: 0;
border-color: transparent transparent #F7F4EF transparent;
border-style: solid;
border-width: 12px;
}
.flag_container{
  width: 200px;
  height: 128px;
  position: absolute;
  z-index: 20;
  right: -100px;
  bottom: -158px;
  border-radius:4px;
  padding: 10px;
  background-color: #F7F4EF;
  color: #75635b;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  input[type=submit]{
    background-color: #DE563F;
    padding: 5px 10px;
    color: #FDFCFA;
    font-weight: bold;
    border: 1px solid #D33829;
    border-radius: 3px;
  }
}



.repin_container::after {
content: '';
display: block;
position: absolute;
top: -23px;
left: 90px;
width: 0;
height: 0;
border-color: transparent transparent #F7F4EF transparent;
border-style: solid;
border-width: 12px;
}

.repin_container{
  width: 200px;
  height: 128px;
  position: absolute;
  z-index: 20;
  left: 75px;
  bottom: -158px;
  border-radius:4px;
  padding: 10px;
  background-color: #F7F4EF;
  color: #75635b;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  
  .repin_post_info{
    color: green;
  }
  .repin_post_errors
  {
    color: red;
  }
  
  
  .album_repin{
    cursor: pointer;
  }
  
  .album_repin:hover{
    background-color: #f4f1e9;
  }
  #new_album{
    width: 110px;
    display: inline;
    margin-bottom: 0;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed #D7D3CD;
    adding-bottom: 10px;
  }
  input[type=submit]{
    background-color: #DE563F;
    padding: 5px 10px;
    color: #FDFCFA;
    font-weight: bold;
    border: 1px solid #D33829;
    border-radius: 3px;
    margin-left: 3px;
  }
}


.stream_reshare {
	
}

.flag_radio_label
{
  display: inline;
  margin-left: 10px;
}

.flag_description_input {
  width: 130px;
  margin-left: 21px;
  margin-top: 5px;
}

.center{
  text-align: center;
}

.stream_comments {
	background-color: #644f46;
	color: #f4f0e9;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	-ms-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	margin: 0 4px;
	
	
	
	.comment_field {
		padding: 6px 6px 6px 54px;
		min-height: 40px;
		position: relative;
		
		img {
			width: 36px;
			height: 36px;
			display: block;
			position: absolute;
			border: 2px solid #fff;
			box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
			margin-right: 10px;
			left: 6px;
			top: 6px;
		}
		
		.comment_input {
			display: block;
			background-color: #523f37;
			border: 1px solid #4d3b33;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			-o-border-radius: 2px;
			-ms-border-radius: 2px;
			border-radius: 2px;
			box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2);
			width: 604px;
			min-height: 40px;
			color: #fff;
			resize: vertical;
		}
	}
	
	.comments {
		margin: 0;
		padding: 0;


		li {
			padding: 6px 6px 6px 54px;
			margin: 0;
			position: relative;
			min-height: 40px;
			
			&:nth-child(even) {
				background: #523f37;
			}
			
			&.comment_more {
				padding: 6px 0px 6px;
				background-image: url('comment-separator.png');
				background-repeat: repeat-x;
				background-position: 0 0;
				position: relative;
				min-height: 0;
				
				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					background: transparent url('comment-separator.png') repeat-x 0 0;
				}
				
				a {
					line-height: 24px;
					font-size: 11px;
					font-weight: bold;
					text-align: center;
					color: #f1d29e;
					display: block;
				}
			}
			
			.comment_message {
				font-size: 12px;
				color: #f4f0e9;
				
				.footer {
					font-size: 10px;
					color: #ada28f;
					padding-top: 8px;
					font-weight: bold;
					a {
						color: #ada28f;
					}
				}
				
				a {
					font-weight: bold;
					color: #f1d29e;
				}
				
				.commentor_name {
					padding-right: 8px;
				}
			}
			
			.commentor {
				display: block;
				position: absolute;
				top: 6px;
				left: 6px;
				margin-right: 10px;
				a {
					display: block;
					border: 2px solid #fff;
					box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
				}
				img {
					width: 36px;
					height: 36px;
				}
			}
		}
	}
}

.stream_header {
	h3 {
		color: #75635b;
		font-size: 18px;
		text-shadow: 0px 1px 0px #fff;
		margin-bottom: 12px;
		background: transparent url('icon-feed-cupcake.png') no-repeat 0 50%;
		padding: 0 0 0 24px;
	}
}


.sidebar {
	.sidebar-block {
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-o-border-radius: 2px;
		-ms-border-radius: 2px;
		border-radius: 2px;
		box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
		background-color: #fff;
	}
	.block-title {
		text-align: center;
		padding: 10px;
		background: transparent url('separator-horizontal.png') repeat-x 0 100%;
		
		a {
			font-weight: bold;
			color: #df5941;
		}
	}
	.block-footer {
		padding: 10px;
		background: #644f46;
		text-align: center;
		-moz-border-radius: 0 0 2px 2px;
		-webkit-border-radius: 0 0 2px 2px;
		-o-border-radius: 0 0 2px 2px;
		-ms-border-radius: 0 0 2px 2px;
		border-radius: 0 0 2px 2px;
		box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
		a {
			font-size: 11px;
			font-weight: bold;
			color: #f0d3a2;
		}
	}
	.block-tile {
		padding: 10px;
		
		&.tile9 {
			ul {
				margin: 0px;
			}
			li {
				float: left;
				width: 64px;
				margin: 1px;
				
				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

