.label_large.profile {
  padding: 15px 20px 15px;
}

.points_wrapper {
  border: 1px solid #ccc;
  background: #F8F8F8;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 4px 0 #ccc;
  -moz-box-shadow: inset 0 0 4px 0 #ccc;
  box-shadow: inset 0 0 4px 0 #ccc;
  .points {
    color: #666;
    text-align: left;
    padding: 8px;
    border: 1px solid #eee;
    width: 112px;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 #e9e9e9;
    -moz-box-shadow: 0 1px 3px 0 #e9e9e9;
    box-shadow: 0 1px 3px 0 #e9e9e9;
    div {
      color: #4d4d4d;
      font-size: 21px;
      font-weight: bold;
    }
  }
}