.inner_wrapper
  = link_to image_tag("logo.png"), root_path, :class => "logo_link"
  %span.adjust_wrapper.top
    .searchbox.inline
      %input.search_input{:type => "text", :value => "Find food here..."}
      %input.search_button{:type => "submit", :value => ""}
    %nav.inline
      = link_to "Home", '#stream', :class => "nav_link"
      = link_to "Restaurants", root_path, :class => "nav_link"
    #session_corner.inline.right
      %img{:src => "<%= profile_image_24 %>", :class => "thumbnail_link"}
      %a{:href =>"#users/<%= slug %>", :class => "nav_link"} <%= username %>
      = link_to "Sign out", destroy_user_session_path, :class => "nav_link"
