<table>
  <thead>
    <tr>
      <th><%= sortable 'username', 'Name' %></th>
      <th><%= sortable 'email' %></th>
      <th>Status</th>
      <th><%= sortable 'last_sign_in_at', 'Last Sign In At' %></th>
      <th><%= sortable 'last_sign_in_ip', 'Last Sign In IP' %></th>
      <th><%= sortable 'country', 'Located Country' %></th>
      <th><%= sortable 'facebook_id', 'Facebook Id' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :users, :url => manage_status_admin_users_path do |f| %>
      <span><input type="checkbox" class="select-current-page"/> Select all in current page</span>
      <span><%= check_box_tag "users[select-all]", 1, false, :class => "select-all" %> Select entire list</span>
      <% @users.each do |u| %>
        <tr>
          <td><%= link_to u.username, CGI::unescape(dashboard_show_path(:anchor => "/users/#{u.slug}")) %></td>
          <td><%= u.email %></td>
          <td><%= u.role_in_name %></td>
          <td><%= u.last_sign_in_at.try(:strftime, "%H:%M - %e %h %Y") %></td>
          <td><%= u.last_sign_in_ip %></td>
          <td><%= u.country %></td>
          <td><%= u.facebook_id %></td>
          <td><%= check_box_tag "users[ids][]", u.id, false, :class => "users_ids_check_box" %></td>
        </tr>
      <% end %>
      <%= f.submit 'Deactivate' %>
      <%= f.submit 'Activate' %>
      <%= link_to 'Send Mail', '#', :class => "admin-users-panel-send-mail" %>
      
      <div class="send-mail-form" style="display:none">
        <p>
          <label>Title</lable>
          <%= text_field_tag "users[title]" %>
        </p>
        <p>
          <label>Note</lable>
          <%= text_area_tag "users[note]" %>
        </p>
        <%= f.submit 'Send Mail' %>
        <%= link_to 'Cancel', '#', :class => "cancel-send-mail-form" %>
      </div>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>

<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("span input[type='checkbox'].select-current-page").change(function() {
        if ($(this).is(":checked")) {
          $("td input[type='checkbox'].users_ids_check_box").attr('checked', 'checked');
        } else {
          $("td input[type='checkbox'].users_ids_check_box").removeAttr('checked');
        }
      });
      
      $("span input[type='checkbox'].select-all").change(function() {
        if ($(this).is(":checked")) {
          $("td input[type='checkbox'].users_ids_check_box").attr('checked', 'checked');
        } else {
          $("td input[type='checkbox'].users_ids_check_box").removeAttr('checked');
        }
      });
      
      $("a.admin-users-panel-send-mail").live("click", function(){
        $(".send-mail-form").show();
        return false;
      })
      
      $("a.cancel-send-mail-form").live("click", function(){
        $(".send-mail-form").hide();
        return false;
      })
    });
  </script>
<% end %>