%div{:class => "stream_item", :id => "<%= id %>"}
  .post_content.inline
    .picture_pane.inline
      %img{:src => "<%= profile_image %>"}
    %ul.news_pane.inline.top
      %li.name
        %a{:href => "#users/<%= creator_slug %>"} <%= username %>
        <%= window.escapeTag(message) %> - at 
        = image_tag('new_images/reshare_icon.png', :class => "resize_img")
        Jalan Alor, Kuala Lumpur
        %ul.food_tag
          %li
            = image_tag('new_images/food_tag_icon.png')
            Hambuger
          %li
            = image_tag('new_images/food_tag_icon.png')
            Hambuger
      %li.pinned_text_message.clearfix <%= window.escapeTag(repin_message) %>
      %li.image_message
        = image_tag('new_images/clip.png', :class => "paperclip_img")
        %a{:href => "#post/<%= id %>"}
          %img{:src => "<%= post_image %>"}
          .album_name.clearfix
            Album Name
  .post_action.inline
    .left_post_action
      %ul
        %li.like_count
          <% if (like == true) { %>
          %a.post_unlike
            %img{:src => "/assets/new_images/like_icon.png"}
            .action_label
              <%= like_count %>
          <% } else { %>
          %a.post_like
            %img{:src => "/assets/new_images/unlike_icon.png"}
            .action_label
              <%= like_count %>
          <% } %>
        %li
          %a.comment_post
            = image_tag('new_images/comment_icon.png')
            .action_label
              10
        %li.post_reshare
          %a
            = image_tag('new_images/share_icon.png')
            .action_label
              100
        %li.repin_count
          %a.post_repin
            = image_tag('new_images/repin_icon.png')
            .action_label
              10
    .right_post_action
      %ul
        <% if (user_id != window.current_user_id) { %>
        <% if (_.include(flagger_ids, window.current_user_id)) { %>
        %li
          %a.disable_post_flag
            %img{:src => "/assets/new_images/flag_icon.png"}
        <% } else { %>
        %li
          %a.post_flag
            %img{:src => "/assets/new_images/flag_icon.png"}
        <% } %>
        <% } %>
    
  .post_comment.inline
    %ul.comments
      <% _.each(comments, function(i) { %> <li class="comment_entry"><span class="commentor top"><a href="/"><img src="<%= i.image_32 %>" /></a></span><span class="comment_message top"><div class="comment"><a href="/" class="commentor_name"><%= i.author %></a><span class="message"><%= i.message %></span></div><div class="footer"><%= i.created_at_time %> . <img src="/assets/new_images/unlike_icon.png" alt="Unlike_icon" class="unlike_icon"> <%= like_count %> . @</div></span></li><% }); %>
    .comment_field
      %img{:src => "<%= profile_image %>"}
      <input type = "text" class="comment_input input"></input>
