%li.featured_item
  %span.photo
    = image_tag '/assets/starbucks.jpeg'
  %span.abstract.middle
    %h4
      <%= name %>
    <% if (follow == true) { %>
    %button.unfollow_button.button_white.round_2 Following
    <% } else { %>
    %button.follow_button.button_gray.round_2 Follow
    <% } %>

