.sidebar
  .sidebar-block
    .block-title
      %a{:href => '#'} Album name (4)
    .block-tile.tile9.clearfix
      %ul.unstyled.clearfix
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
        %li
          %a{:href => '#'}
            %img{:src => 'http://placehold.it/80x80'}
    .block-footer
      %a{:href => '#'} View all albums
    



%ul.featured
  %li.label_medium.box_blue Featured Restaurant

  .restaurant_wrapper

%ul.invite
  %li.label_medium Invite your friends
  %li
    %h4
      = link_to 'From Facebook', root_path
  %li
    %h4
      = link_to 'By email', root_path
