.promoted_item
  %h4= link_to "Seoul Garden", root_path
  .promoted_preview
    %span.photo.top
      = image_tag "/assets/featured/1.jpeg"
    %span.abstract.top Korean BBQ Lunch for RM22.9 instead of RM39.9. Halal