!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  = stylesheet_link_tag "foodpedia"
  = stylesheet_link_tag 'styles'
  = csrf_meta_tag
%body
  %script
    -#This will not work. More users and posts - slower and bigger the page
    -#window.availableTags = #{raw(User.existing_username_tags + Post.existing_food_tags + (User.current.try(:existing_album_tags) || []))}

  = yield
  - [:notice, :error, :message, :alert].each do |key|
    - unless flash[key].blank?
      %p{ :class => "flash flash_#{key}" }= flash[key]
  = javascript_include_tag 'application', 'bootstrap.min', 'v3'
  = yield :javascript
  <!--[if lt IE 7 ]>
  %script{scr: "//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"}
  %script
    window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})
  <![endif]-->
  #fb-root
:plain
  </html>

