<!DOCTYPE html>
<html>
<head>
	<title>I am food lover</title>
  <%= stylesheet_link_tag 'application', "colorbox" %>
  <%= javascript_include_tag "v2/application", "v2/home" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="wrapper">
    <header>
    	<%= render 'shared/header' %>
    </header>
    <div class="inner_wrapper">
      <% [:notice, :error, :message].each do |key| %>
        <% unless flash[key].blank? %>
          <div class="flash flash_<%= key %>"><%= flash[key] %></div>
        <% end %>
      <% end %>
      <div class="left_content">
      	<%= render 'shared/left_content' %>
      </div>
      <div class="middle_content">
        <%= yield %>
      </div>
      <div class="right_content">
      	<%= render 'shared/right_content' %>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript">
  window.current_user_id = "#{current_user.try(:id)}";
  window.current_user_slug = "#{current_user.try(:slug)}";
</script>