!!! 5
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  = stylesheet_link_tag 'foodpedia'
  = stylesheet_link_tag 'application'
  = csrf_meta_tag
%body
  %script
    -#This will not work. More users and posts - slower and bigger the page
    -#window.availableTags = #{raw(User.existing_username_tags + Post.existing_food_tags + (User.current.try(:existing_album_tags) || []))}
  .wrapper
    %header
      %div
        .inner_wrapper
          = link_to image_tag("logo.png"), root_path, :class => "logo_link"
          %span.adjust_wrapper.top
            .searchbox.inline
              %input.search_input{:type => "text", :value => "Find food here..."}
              %input.search_button{:type => "submit", :value => ""}
            %nav.inline
              = link_to "Home", '#stream', :class => "nav_link"
              = link_to "Restaurants", root_path, :class => "nav_link"
            #session_corner.inline.right
              = image_tag current_user.profile_image_24, :class => "thumbnail_link"
              = link_to current_user.username, "#users/#{current_user.slug}", :class => "nav_link"
              - if current_user.admin?
                = link_to "User", admin_users_path, :class => "nav_link"
                = link_to "Post", admin_posts_path, :class => "nav_link"
              = link_to "Sign out", destroy_user_session_path, :class => "nav_link"
  - [:notice, :error, :message].each do |key|
    - unless flash[key].blank?
      %p{ :class => "flash flash_#{key}" }= flash[key]
  = yield
  = javascript_include_tag 'application'
  = yield :javascript
  <!--[if lt IE 7 ]>
  %script{scr: "//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"}
  %script
    window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})
  <![endif]-->
  #fb-root
:plain
  </html>