doctype html
html
  head
    title I am food lover
    = stylesheet_link_tag "foodpedia"
    = csrf_meta_tags
  body class=page_class
    #root
      .container
        = yield
      #root_footer
    = render partial: 'shared/navbar'
    = render partial: 'posts/new'
    #footer
      nav
        ul
          li = link_to "About us"
          li = link_to "Terms"
          li = link_to "Privacy policy"
          li = link_to "Help"
      .credentials Copyright 2012 I'm food lover. All rights reserved.
    = javascript_include_tag "foodpedia"
    = javascript_include_tag 'application', 'bootstrap.min', 'v3', 'foodstreet'
    = javascript_include_tag "conversations"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
