doctype html
html
  head
    title
      = title
    = stylesheet_link_tag "foodpedia"
    = stylesheet_link_tag "photo"
    = csrf_meta_tags
  body class=page_class data-current_user="#{current_user ? current_user.username : 'nil'}"
    #root
      .container
        = yield
      #root_footer
    = render partial: 'shared/navbar'
    = render partial: 'posts/new'
    #footer
      nav
        ul
          li = link_to "About us"
          li = link_to "Terms"
          li = link_to "Privacy policy"
          li = link_to "Help"
      .credentials Copyright 2012 I'm food lover. All rights reserved.
    = javascript_include_tag "foodpedia", "album"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
