<form class="edit-tag-subscription" id="edit-tag-subscription-form">
  <li class="category_management category">
     <input type="text" name="name" id="edit-tag-subscription-field" value="<%= name %>" />
  </li>
</form>