%li{:class => 'category_management category'}
  %a{:href => "#foods/<%= name %>"} &#35;<%= name %>
  %ul
    %a{:class => 'tag_subscription_edit', :id => "<%= id %>"} Edit
    %a{:class => 'tag_subscription_remove', :id => "<%= id %>"} Remove