%body.sessions
  #wrapper.sessions
    #small_wrapper.round_4
    
      %h1 Create New Account
    
      .form_signup
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = f.error_messages
          .label_small Username:
          = f.text_field :username, {:class => "medium_input"}
          .label_small Email:
          = f.text_field :email, {:value => "#{@email}", :class => "medium_input", :readonly => (@email.blank? ? false : true)}
          .label_small Password:
          = f.password_field :password, {:class => "medium_input"}
          = f.hidden_field :token, {:value => @token}
          = f.hidden_field :facebook_id, {:value => @facebook_id}
          = f.hidden_field :weibo_access_token_secret, {:value => @weibo_access_token_secret}
          = f.hidden_field :weibo_access_token, {:value => @weibo_access_token}
          = f.hidden_field :weibo_uid, {:value => @weibo_uid}
          = f.hidden_field :tqq_access_token_secret, {:value => @tqq_access_token_secret}
          = f.hidden_field :tqq_access_token, {:value => @tqq_access_token}
          = f.hidden_field :tqq_uid, {:value => @tqq_uid}
          %p
          = f.submit "Create account", :class => "signup_button button_green round_2"
  
